
<div class="cor-video-container--withplaylist">
  <h4 class="cor-toc-section" id="links">{{ video.title }}​</h4>
  <video width="100%" controls
    poster="{{ video.poster }}​" >
    {% for source in sources %}
    <source
      src="{{ video.sources.file }}"
      type="{{ video.sources.type }}">
    {% endfor %}
    {{ fallbackText }}
  </video>
</div>