
<div class="cor-video-container bg padding">
  <article>
    <h5 class="cor-h5" id="links">{{ video.title }}​</h5>
    <video width="100%" controls
      poster="{{ video.poster }}​" >
      {% for source in sources %}
      <source
        src="{{ video.sources.file }}"
        type="{{ video.sources.type }}">
      {% endfor %}
      {{ fallbackText }}
    </video>

  </article>
  
  <div>
    <h4>Watch more</h4>
    <ul class="list-none cor-grid" style="--threshold: 150px">
      {% for video in relatedVideos %}
      <li>
        <div role="button" tabindex="0" class="cor-with-sidebar cor-with-sidebar--left" style="--sideWidth: 150px">
          <span class="cor-video-preview"><img src="{{ video.poster }}​" alt="" class="cor-image" /></span>
          <h5>{{ video.title }}​</h5>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
