
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Title of the page</title>
<meta name="description" content="{{ description or metadata.description }}">

<link rel="stylesheet" href="https://cor.europa.eu/_layouts/15/1033/styles/Themable/corev15.css">
<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | path }}">
<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/Main2.css">
<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/Main.css">
<link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/social.css">

<!--
<link media="all" rel="stylesheet" href="https://unpkg.com/@cor-web/cor-design-system/dist/all.css" >
-->


<link media="all" rel="stylesheet" href="{{ '/all.css' | path }}" >
<link media="all" rel="stylesheet" href="{{ '/components/pages/survey/survey.css' | path }}" >


