<h3>{{intro}}</h3>

{# Start Filter #}
{% for filter in filters %}
  <label for="{{ filter.id }}-select">{{ filter.label }}</label>

  <select name="{{ filter.id }}" id="{{ filter.id }}-select">
    {% for value in filter.values %}
      <option value="{{value.id}}">{{value.name}}</option>
    {% endfor %}
  </select>
{% endfor %}
{# End Filter #}

<dl>
  
  {% for subject in subjects %}
    
    <dt>{{subject.subject}}</dt>

    <dd>

        {% for response in subject.responses %}
          {# Start Multi bar graph #}
          
          <multi-bar-chart filterableBy="{% for filterTerm in response.filterableOn %}{{filterTerm}}{% if not loop.last %},{% endif %}{% endfor %}">
            
            {{response.countryName}}

            {% for choice in response.values %}
              <multi-bar-item value="{{choice.value}}">
                <span slot="item-text">{{choice.text}}</span>
                <span slot="item-value">{{choice.value}}%</span>
              </multi-bar-item>
            {% endfor %}
          </multi-bar-chart>

          {# End Multi bar graph #}
        {% endfor %}

    </dd>
  
  {% endfor %}
</dl>

<script src="/components/multi-bar-graph/multi-bar-graph.js" type="module"></script>
