<label for="states">Who's the best wizard?</label>
<input type="text" id="wizards" name="wizards" list="wizards-list">
<datalist id="wizards-list">
	<option>Harry Potter</option>
	<option>Hermione</option>
	<option>Dumbledore</option>
	<option>Merlin</option>
	<option>Gandalf</option>
</datalist>



<cor-members role="list">
  <cor-member role="listitem" name="Mikko AALTONEN" country="Finland" region="Etela-Suomi" group="PES (Party of European Socialists)" com="ECON (Commission for Economic Policy);SEDEC (Commission for Social Policy, Education, Employment, Research and Culture)" type="">
  </cor-member>
  <cor-member role="listitem" name="Mikko AALTONEN" country="Finland" region="Etela-Suomi" group="PES (Party of European Socialists)" com="ECON (Commission for Economic Policy);SEDEC (Commission for Social Policy, Education, Employment, Research and Culture)" type="">
  </cor-member>
  <cor-member role="listitem" name="Mikko AALTONEN" country="Finland" region="Etela-Suomi" group="PES (Party of European Socialists)" com="ECON (Commission for Economic Policy);SEDEC (Commission for Social Policy, Education, Employment, Research and Culture)" type="">
  </cor-member>
</cor-members>