.mainContent p {
  max-width: 75ch;
}

.cor-jobs-opportunities > li > a {
  align-items: baseline;
  border: solid 1px var(--link-color);
  color: var(--link-color);
  display: grid;
  gap: var(--space-3xs);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-decoration: none;
}

.cor-jobs-opportunities > li > a:hover {
  background-color: white;
}

.cor-jobs-opportunities > li > a:hover {
  background-color: var(--link-color);
  color: white;
  text-decoration: none;
}

.cor-jobs-opportunities > li h3 {
  color: var(--link-color);
}

.cor-jobs-opportunities > li > a:hover h3 {
  color: white;
}

.cor-jobs__campaign {
  background-color: var(--oc-gray-1);
  padding: var(--space-l);
  margin: 0 var(--space-2xl);
  display: grid;
  justify-items: center;
  gap: var(--space-xs);
}

.cor-jobs__campaign--withimg {
  grid-template-columns: repeat(
      auto-fit,
      minmax(min(150px), 100%), 1fr)
    );
}


@media screen  {
  
}

.cor-jobs__campaign > h2 {
  font-weight: bold;
  text-align: center;
}

.cor-jobs__campaign > button {
  background-color: var(--oc-gray-1);
  border-color: black !important; /* Override bootrstrap */
}

.cor-jobs__nav {
  background-color: white;
}

.cor-list--arrows a {
  align-items: center;
  display: flex;
}

.cor-list--arrows a:after {
  background: var(--icon-arrow-right-circle) no-repeat;
  content: "";
  display: block;
  height: 16px;
  margin-left: auto;
  width: 16px;
}

.cor-jobs__testimonials {
  display: flex;
  gap: var(--space-xs);
}

.cor-jobs__testimonials > * {
  flex: 1 0 40%;
}

.cor-jobs__wordcloud li {
  font-size: var(--step-2);
  font-weight: bold;
  text-align: center;
}

.cor-jobs__wordcloud li,
[observe] {
  transition: transform 0.2s ease-out, opacity 0.5s ease-out;
  transform: translateY(100px);
  opacity: 0.5;
}

.cor-jobs__wordcloud li.visible,
[observe].visible {
  opacity: 1;
  transform: translateX(0);
  opacity: 1;
}
