<div class="bg-white">
  {% render "@cover--campaign", {color: color, title: title, subtitle: subtitle, poster: poster, description: description}, true %}


  <div class="padding-x">
    <h2 class="cor-h3">Latest vacancies</h2>
    <div class="cor-grid">
      <article class="cor-card">
        <div>
          <span class="cor-badge">AST1-AST7</span>
        </div>
        <a class="cor-h4" href="">Agent - Graphic Designer</a>
        <span><strong>Deadline</strong><br/><time datetime="2015-05-16 19:00">20/05/2021 - 11:59</time></span>
        <span><strong>Directorate</strong><br/>Directorate B, Legislative Work 1</span>
      </article>
      <article class="cor-card">
        <div>
          <span class="cor-badge">Temporary staff / AD 5</span>
        </div>
        <a  class="cor-h4" href="">Executive Officer</a>
        <span><strong>Deadline</strong><br/><time datetime="2015-05-16 19:00">20/05/2021 - 11:59</time></span>
        <span><strong>Directorate</strong><br/>Directorate B, Legislative Work 1</span>
      </article>
      <article class="cor-card">
        <div>
          <span class="cor-badge">Temporary staff / AD 5</span>
        </div>
        <a class="cor-h4" href="">Executive Officer</a>
        <span><strong>Deadline</strong><br/><time datetime="2015-05-16 19:00">20/05/2021 - 11:59</time></span>
        <span><strong>Directorate</strong><br/>Directorate B, Legislative Work 1</span>
      </article>
    </div>
  </div>



<div role="separator"></div>

{% render "@nav" , {nav: secondarynav}, true %}

<div class="cor-with-sidenav bg-white cor-survey">

  {% render "@toc" , {nav: contentnav}, true %}

  <main>
    <div class="cor-rich-text">
    
      <h2>Why work with us?</h2>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>
    </div>
  
    <div role="separator"></div>

    <div class="cor-rich-text">
    
      <h2>Meet our colleagues</h2>

      <div class="cor-card padding-0 border-none">
        {% render "@stories" %}
      </div>
     

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>
    </div>

    <div role="separator"></div>

    <div class="cor-rich-text">
    
      <h2>Vacancies</h2>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>
    </div>

    <div role="separator"></div>

    <div class="cor-rich-text">
    
      <h2>How to join us ?</h2>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>
    </div>

    <div role="separator"></div>

    <div class="cor-rich-text">
    
      <h2>Equality</h2>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>

      <p>Veniam irure fugiat qui commodo occaecat incididunt ipsum enim sunt sunt elit irure. Minim nostrud id laboris incididunt et. Ex sunt pariatur commodo aute ad est laborum enim. Aliquip laborum labore eiusmod officia deserunt esse tempor sunt. Aliquip Lorem esse et laborum magna reprehenderit et sit. Elit laboris pariatur mollit officia consectetur labore sunt occaecat cupidatat nulla. Sint sunt culpa anim voluptate.</p>
    </div>

  <div role="separator"></div>

  <div>
    <h2>Learn more</h2>

    <h3>Privacy statements</h3>
    <ul>
      <li><a href="test.be">Permanent staff privacy</a></li>
      <li><a href="test.be">Temporary staff privacy</a></li>
      <li><a href="test.be">National experts staff privacy</a></li>
    </ul>
    
    <h3>Related links</h3>
    <ul>
      <li><a href="test.be">DECISION No 438-2015 on the rules applicable to national experts seconded to the Committee of the Regions</a></li>
      <li><a href="test.be">Link 2</a></li>
      <li><a href="test.be">Link 3</a></li>
    </ul>
  </div>
  
  
  <div role="separator"></div>

  <div>
    <h2>Contact</h2>
    <a href="test.be">contact@cor.europa.eu</a>
  </div>
  

  
</div>

{#
{% extends "@sidebar" %}

{% block sidebar %}
pip
{% endblock %}

{% block content %}
pop
{% endblock %}
#}

  </main>
  
</div>
