<div class="bg-white cor-container" style="--campaign-color: 10, 175, 203">
  
  {% render "@cover--topbar", {title: title, subtitle: subtitle, poster: poster, description: description,  cta: cta}, true %}

 

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main class="cor-containerWithDivider cor-containerWithDivider--space-l">
      
      <section class="cor-rich-text">
        <p>In order to be recruited as an official by an EU institution, you need to pass an open competition organised at the inter-institutional level by the European Personnel Selection Office.</p>

        <p>The Committee of the Regions also employs temporary or contract staff.</p>

        <p>Employees of local, regional and national bodies or intergovernmental organisations may also apply for positions as seconded national experts.</p>

        <p>The CoR operates an equal opportunities and anti-discrimination recruitment policy and is committed to protecting the environment.​​​​​​​​​​</p>       
      </section>

      <section class="cor-stack">
        <h2 id="permant">Permanent staff</h2>

        <p>In order to be recruited as <strong>an official by an EU institution</strong>, you need to pass an open competition organised at the inter-institutional level by the <a href="">European Personnel Selection Office</a>.</p>

        <p>Vacancies published by the CoR are intended for officials who are already working at the CoR or in the other institutions. Successful competition candidates may also apply if they meet the eligibility requirements set out in the notice of vacancy.</p>

        <p class="margin-top"><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Begin process on EPSO</a></p>
      </section>

      <section class="cor-stack">
        <h2 id="temp">Temporary staff</h2>

        <p>The CoR sometimes employs temporary or contract staff. This is particularly the case when a post is waiting to be filled, when a staff member is absent due to long-term illness or leave on personal grounds, or when a department has to carry out a specific task in addition to its usual work. In any event, such contracts are for a limited period.</p>
        <p>Applicants must be from one of the EU's Member States. They must have a thorough knowledge of one of the EU's official languages and a satisfactory knowledge of at least one other of these languages.</p>
        <p>If you wish to be considered for such a contract, you can apply online for your profile to be added to our database of spontaneous applications.</p>
        <p>If an opportunity corresponding to your profile arises, you may be contacted for an interview.</p>
        <p>Spontaneous applications: online registration forms</p>
        <p>Before you start filling in your form, please make sure that you have all the information you need. You will be asked to attach a curriculum vitae in one of the following languages: English, French or German.</p>
        <p>On the registration form, there is an asterisk (*) after certain fields. These fields are mandatory. Until you have completed them, it will be impossible for you to send your application. The other fields are optional, and are intended to help us build up a more detailed profile of you.</p>
        <p>Please check that all the information you provide is correct.</p>
        <p>Also check through your form before clicking on "send".</p>

        <h3 class="cor-h5 margin-top">Register</h3>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Register in English</a></p>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">S'enregistrer en français</a></p>

        <h3 class="cor-h5 margin-top">Update a previously registered application here</h3>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Update in English your previously registered application</a></p>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Mettre à jour votre précédent enregistrement en français</a></p>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Aktualisieren Sie Ihre bereits registrierte Bewerbung</a></p>
      </section>

      <section class="cor-stack">
        <h2 id="nationex">National experts</h2>

        <p>Employees of local, regional and national bodies or intergovernmental organisations (IGOs) may also apply for positions as seconded national experts . Several conditions must however be met.</p>

        <p>​Applicants must:</p>

        <ul class>
          <li>be employed by a national, regional or local public authority or IGO</li>
          <li>have worked for at least three years, full-time, in an administrative, scientific, technical, advisory or supervisory post</li>
          <li>have been in the service of their current employer for at least twelve months</li>
          <li>have thorough knowledge of one official language of the European Union and a satisfactory knowledge of another language of the European Union</li>
          <li>be under the age limit of 65 for the duration of the secondment</li>
          <li>be able to prove that their employer will continue to pay their salary, maintain their established or contractual employment status and guarantee their social rights and benefits, particularly as regards social security and pension rights, throughout the period of secondment</li>
        </ul>

        <p>Should you meet these requirements and would like to apply for a post, just fill out the form below:</p>

        <h3 class="cor-h5 margin-top">Register</h3>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Register in English</a></p>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">S'enregistrer en français</a></p>

        <h3 class="cor-h5 margin-top">Update a previously registered application here</h3>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Update in English your previously registered application</a></p>
        <p><a href="" class="txt-xl border padding block rounded-full padding-left-xl flex">Mettre à jour votre précédent enregistrement en français</a></p>
        <p><a href=""  class="txt-xl border padding block rounded-full padding-left-xl flex">Aktualisieren Sie Ihre bereits registrierte Bewerbung</a></p>

        <h3 class="cor-h5 margin-top">You encouter difficulties?</h3>
        <p>you can email <a href="">recruitment@cor.europa.eu</a></p>

        <p>The CoR operates an equal opportunities and anti-discrimination recruitment policy and is committed to protecting the environment.​​​​​​​​​​</p>

      </section>

      <section class="cor-stack">
        
        <h2>Quick links</h2>

        <h3>In English</h3>
        <ul class="margin-bottom-0 padding-left">
          <li><a href="test.be">Consult <strong>Permanent staff privacy</strong></a></li>
          <li><a href="test.be">Consult <strong>Temporary staff privacy EN</strong></a></li>
          <li><a href="test.be">Consult <strong>National expert privacy</strong></a></li>
        </ul>


        <h3>In French</h3>
        <ul class="margin-bottom-0 padding-left">
          <li><a href="test.be">Consulter la <strong>déclaration de confidentialité pour les officiels</strong></a></li>
          <li><a href="test.be">Consulter la <strong>déclaration de confidentialité pour les agents temporaires et contractuels</strong></a></li>
          <li><a href="test.be">Consulter la <strong>Décision N°438-2015 relative au régime applicable aux experts nationaux détachés</strong> auprès des services du Comité européen des régions</a></li>
        </ul>

      </section>

      <section>
        <h2 class="cor-toc-section" id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      

      
    
    </main>

    


  </div>

  

  <section class="bg-europe text-white padding-m grid justify-items-center">
        <a href="www.epso.europa.eu"><img alt="EPSO flag" src="/assets/images/jobs/epsoflag.png" /></a>
        <h2 class="text-white">Do you have the ambition to #ShapingEurope </h2>
        <p>Visit the EU Careers website where you can search the database of available job opportunities for permanent and temporary positions, including contract agent posts, traineeships and secondments in EU Institutions and Agencies.​​</p>
        <a class="www.epso.europa.eu">Join us!</a>
      </section>

</div>
