<div class="bg-white cor-container" style="--campaign-color: 10, 175, 203">
  
  {% render "@cover--topbar", {title: title, subtitle: subtitle, poster: poster, description: description,  cta: cta}, true %}

 

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main class="cor-containerWithDivider cor-containerWithDivider--space-l">
      
      <section class="cor-rich-text">
        <p>The CoR strives to become an organisation of true excellence, being resolutely modern and innovative, one that complies with recognised quality standards and positively encourages its staff to become more knowledgeable and flexible through active learning and mentoring.</p>
        <p>The CoR is an institution that promotes equal opportunities, diversity and non-discrimination to help nurture a respectful and inclusive working environment. </p>
      </section>

      <section>
        <h2>What we offer</h2>
        
        <ul class>
          <li>
            <h3>Interesting and challenging work</h3>
            <p>At the CoR, you work for a small institution but you can work on the major issues that you read about in the news every day: global pandemics, climate, cohesion, digital and demographic transitions, as well as the flow of migration, to name but a few.  Our job in the General secretariat is to support our Members by delivering on a wide range of issues and tasks, from diverse policy work to organizing meetings, from human resources and finance to IT, translation and communications. We are a consultative body, with only about 540 staff members, with flat reporting structures and many opportunities to liaise with other departments and work on shared projects.</p>
          </li>
          <li>
            <h3>International working environment </h3>
            <p>You meet colleagues from all EU Member States on a daily basis. The multinational, multilingual working environment is very enriching and stimulating. </p>
          </li>
          <li>
            <h3>#Shaping Europe together - A job that really matters </h3>
            <p>You do not work to increase a company's profit but to improve the lives of approximately 450 million European citizens. This is a challenge and a privilege, every day.</p>          
          </li>
          <li>
            <h3>Job mobility </h3>
            <p>We do not offer 'a job for life' but a 'lifetime of different jobs'. Through our Talent Management Strategy, we give you the opportunity to learn and grow. You build your own career path and we help you through challenging assignments, coaching, mentoring, in-house and external development opportunities (in-house or inter-institutional job shadowing) and job mobility.</p>
            <p>Furthermore, we offer you a wide range of learning opportunities. We encourage your personal development and enable you to improve and update your technical and professional expertise.</p>
          </li>
          <li>
            <h3>Health and safety</h3>
            <p>Your health and safety is our priority. We keep you informed about health and safety at work by organising a series of conferences and participatory events throughout the year.  </p>
          </li>
        </ul>
        
      </section>

      <section>
        <h2>Benefits</h2>
        
        <ul class>
          <li>
            <h3>An attractive package </h3>
            <p>The European Committee of the Regions is based in Brussels and has a total staff of approximately 540. As a European Institution, we offer competitive remuneration and a comprehensive benefits package that includes leave and a retirement plan, worldwide medical insurance cover for staff and their dependents, life and disability insurance. Additional benefits may be provided for eligible staff, as set out in our Staff Regulations. </p>
          </li>
          <li>
            <h3>Work/life balance</h3>
            <p>Advantageous working conditions.</p>
            <p>At the CoR we balance the need for efficient use of our resources against modern human resources policies that enable our staff to reconcile professional and family life. We offer:</p>
            <ul class>
              <li>Flexible working arrangements: flexible working hours, part-time work and teleworking</li>
              <li>Leave and holidays - 24 vacation (annual leave) days plus public holidays. Subject to conditions, there are also additional days for travel towards the place of origin.</li>
              <li>Support with childcare: In order to foster well-being among staff, the Social actions service provides a series of services to staff and their families (childcare facilities – crèches, European schools, after school childcare, holiday childcare, etc.) </li>
              <li>Service to families: Welcome office, Social service, language courses for partners, etc.</li>
              <li>Health and wellbeing policy: Medical service, Safety and Health at Work Programme, nutrition, ergonomic office design, etc. </li>
              <li>Social and cultural events:  We like to socialise! You get many opportunities to network. We also have other social events – Staff’s parties and events where you and your family are always welcome, cultural events, exhibitions, conferences on interesting topics, etc.</li>
            </ul>
            <p>We offer high-quality working conditions to ensure a sound and healthy working environment.</p>
          </li>
          <li>
            <h3>Salary</h3>
            <p>Whether you apply for a permanent position, a fixed-term contract, or a temporary role, basic salaries are determined according to responsibilities and previous experience, and are reviewed annually as set out in the <a href="https://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CONSLEG:1962R0031:20140101:EN:PDF">EU’s Staff Regulations</a>.</p>          
          </li>
          <li>
            <h3>Benefits</h3>
            <ul>
              <li>Allowances – staff receive expatriation, household and child allowances, depending on individual circumstances.</li>
              <li>Health insurance - staff and their eligible dependents receive health insurance with immediate effect as from the start of their employment, without a waiting period for the payment of benefits. </li>
              <li>Incapacity insurance - work incapacity insurance for accident and illness is a standard benefit for employees. </li>
              <li>Retirement benefits - we provide staff with a retirement plan consisting of a set benefit component and a set contribution component. </li>
              <li>Installation benefits - under certain conditions, staff joining us from outside their duty station location are reimbursed for travel and moving expenses and receive an installation allowance. </li>
              <li>Education - staff with eligible dependent children may enroll them at the European School in Brussels. </li>
              <li>Facilities - Access to carparks, the staff restaurant, the cafeterias, sports and library facilities. </li>
            </ul>
          </li>
          <li>
            <h3>Other facilities </h3>
            <ul>
              <li><strong>Transport</strong>: our premises are easily accessible and Brussels offer a wide range of public transport, bicycle rental and car-pooling opportunities. As part of our mobility plan, CoR promotes the use of public transport and other sustainable means of transport (CoR infrastructures are ready to welcome you and your bike, we grant a financial contribution to your public transport season tickets, etc.). </li>
              <li><strong>Telework</strong>: remote access provides the opportunity to work in a more flexible environment. </li>
              <li><strong>"Green working environment"</strong>: located in the heart of the European quarter, next to European Parliament and closer to Leopold Park, our Jacques Delors (JDE) and surrounding buildings are designed to comply with the highest standards of quality, security and environmental performance.  </li>
              <li><strong>Equal opportunities</strong>: as part of our equal opportunities policy, we are especially committed to employing and developing the careers of people with special needs. Our main buildings are complying with optimal accessibility conditions for people with impaired mobility. </li>
              <li><strong>EMAS (Eco-Management and Audit Scheme)</strong>: Actively involved in sustainable management, CoR and EESC set up the first plastic-free canteen in the European institutions. Since 2019, no disposable plastic products or products packaged with plastic are used in our canteen. Our committees are awarded EMAS and ISO 14001 certification and received the Brussels Ecodynamic Enterprise label in 2009.   </li>
            </ul>
          </li>
        </ul>
        
      </section>
      
   

      <section class="cor-stack">
        
        <h2>Quick links</h2>

        <ul class="margin-bottom-0 padding-left">
          <li><a href="test.be">Consult <strong>HR report</strong></a></li>
          <li><a href="test.be">Read our <strong>FAQ</strong></a></li>
        </ul>

      </section>

      <section>
        <h2 class="cor-toc-section" id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      
    
    </main>

    


  </div>

  <section class="bg-europe text-white padding-m grid justify-items-center">
        <a href="www.epso.europa.eu"><img alt="EPSO flag" src="/assets/images/jobs/epsoflag.png" /></a>
        <h2 class="text-white">Do you have the ambition to #ShapingEurope </h2>
        <p>Visit the EU Careers website where you can search the database of available job opportunities for permanent and temporary positions, including contract agent posts, traineeships and secondments in EU Institutions and Agencies.​​</p>
        <a class="www.epso.europa.eu">Join us!</a>
      </section>

</div>
