<div class="cor-container bg-white" style="--campaign-color: 10, 175, 203">

  
  {% render "@cover--centered", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <!-- Initiatives -->
  <article class="cor-box">
    <h2 class="cor-toc-section cor-h3" id="initiatives">Our latest oppurtunities</h2>

    <div class="cor-jobs-opportunities">
    {% if latestopportunities %}
      {% for item in latestopportunities.slice(0, 3) %}
        <article class="padding">
          <strong class="txt-xl">{{ item.grade }}</strong>
          <h3 class="cor-h5 margin-0">{{ item.jobtitle }}</h3>
          
          <span>Directorate B, Legislative Work 1</span>

          <div>
            <strong>Deadline:</strong>
            <time class="cor-card__date" datetime="2015-05-16 19:00">{{ item.date }}</time>
          </div>
          
        </article>
      {% endfor %}

      </div>

      <a class="">Explore all our vacancies</a>

    {% else %}
    <p>There are no vacancies available at the moment. However, the world of European careers is constantly changing. To keep up to date with the latest opportunities, check the EU Careers website. And if you want to stay ahead of the competition, let's practice with EPSO sample tests! </p>
    {% endif %}
  </article>
  <!-- /Initiatives -->

  <nav class="cor-switcher cor-switcher--4 margin-top cor-jobs__nav padding">
    <div href="www.google.be" class="  cor-stack">
      <strong class="cor-h6 margin-bottom">Diversity</strong>
      <p>Experiencing diversity is the best way to drive creativity and success. For us "United in Diversity" it's not just a hashtag, it's a long-term objective.</p>
      <div>
        <a href="" class="">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg></a>
      </div>
    </div>
    <div href="www.google.be" class="   cor-stack">
      <strong class="cor-h6 margin-bottom">Work life/Balance</strong>
      <p>If you believe that reconciling family and work life is what makes a job right, then we already have something in common.</p>
      <div>
        <a href="" class="">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg></a>  
      </div>
    </div>
    <div href="www.google.be" class="   cor-stack">
      <strong class="cor-h6 margin-bottom">Procedure</strong>
      <p>Discover all the opportunities to become part of the CoR community. We offer different kind of posts, but they all will allow you to make an impact on EU policies.</p>
      <div>
        <a href="" class="">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg></a>
        
      </div>
    </div>
    <div href="www.google.be" class=" cor-stack">
      <strong class="cor-h6 margin-bottom">Traineeships</strong>
      <p>The CoR is a relatively young institution and, as such, recognizes the importance of giving voice to the ideas of newcomers and younger generations. Involving young people in the EU decision-making process is precisely the aim of the CoR traineeship programme.</p>
      <div>
        <a href="" class="">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg></a>
      </div>
    </div>
  </nav>


  

  <div class=" cor-content">

    

    <main class="cor-containerWithDivider cor-containerWithDivider--space-l padding-m">

      <section class="cor-grid">
        <div>
          <h3>Empowering local and regional</h3>
          <p class="txt-xl">The European Committee of the Regions (CoR) is the voice of regions and cities in the European Union (EU). By empowering local and regional elected politicians to shape the EU legislation, we pursue our mission to create a Union closer to its citizens and built on their needs. </p>
          <a href="">Learn about our local and regional</a>
        </div>
        <div class="cor-grid">
          <img alt src="https://images.unsplash.com/photo-1485081669829-bacb8c7bb1f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
          <img alt src="https://images.unsplash.com/photo-1519677100203-a0e668c92439?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
          <img alt src="https://images.unsplash.com/photo-1501952476817-d7ae22e8ee4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80">
        </div>
      </section>

      <section>
        <h3>The pulse of EU politics</h3>
        <p class="txt-xl">No village, town, or city is too far for us to bring it closer to the pulse of EU politics. By joining the CoR, you will contribute to make Europe a great place to live. At the CoR, you will have the opportunity to address the future challenges of the EU while thriving in a familiar work environment that respects human diversity and enhances individual creativity.  </p>

        <h3>Multicultural, dynamic and diverse, community</h3>
        <p class="txt-xl">Throughout your professional path, you can always count on the support of a small but multicultural, dynamic and diverse, community of experts. Thanks to a crosscutting approach to objectives, you will have the chance to share knowledge with colleagues whose rich backgrounds reflect all the diversity and the vast potential of the EU.  </p>
      </section>

      <section class="cor-stack">
        <h2>Meet the people of the CoR</h2>

        <p>The CoR staff works tirelessly for the voice of European regions and cities. But what better occasion to listen to your future colleagues to know how a day within the CoR looks like? </p>

        <h3>Testimonials</h3>

        <ul class="list-none cor-jobs__testimonials">
          {% for testimonial in testimonials %}
          <li>
            <figure>
              <blockquote cite="https://www.huxley.net/bnw/four.html">
                  <p>{{ testimonial.text }}</p>
              </blockquote>
              <figcaption><img alt="alt name" src="https://thispersondoesnotexist.com/image" width="50" height="50" class="block rounded-full" />{{ testimonial.author }}</figcaption>
          </figure>
          </li>
          {% endfor %}
        </ul>
      </section>

      <section class="cor-stack">
        <h2>Diversity</h2>
        <p>You can enjoy working with diverse and talented colleagues. As an employer, the CoR does not discriminate on any grounds such as sex, race, colour, ethnic or social origin, genetic features, language, religion or belief, political or any other opinion, membership of a national minority, property, birth, disability, age or sexual orientation. You will be given an equal opportunity to demonstrate your abilities during the selection procedures.</p>
      </section>

      <section class="cor-stack">
        <h2>Work life/Balance</h2>
        <h3>Advantageous working conditions </h3>
        <p>At the CoR we balance the need for efficient use of our resources against modern human resources policies that enable our staff to reconcile professional and family life.</p>
        <h4>We offer:</h4>
        <ul class="cor-grid list-style-none" style="--threshold: 300px">
          <li>
            <h4>Flexible working arrangements</h4>
            <p>Flexible working hours, part-time work and teleworking</p>
          </li>
          <li>
            <h4>Leave and holidays</h4>
            <p>24 vacation (annual leave) days plus public holidays. Subject to conditions, there are also additional days for travel towards the place of origin.</p>
          </li>
          <li>
            <h4>Support with childcare</h4>
            <p>In order to foster well-being among staff, the Social actions service provides a series of services to staff and their families (childcare facilities – crèches, European schools, after school childcare, holiday childcare, etc.)</p>
          </li>
          <li>
            <h4>Service to families</h4>
            <p>Welcome office, Social service, language courses for partners, etc.</p>
          </li>
          <li>
            <h4>Health and wellbeing policy</h4>
            <p>Medical service, Safety and Health at Work Programme, nutrition, ergonomic office design, etc.</p>
          </li>
          <li>
            <h4>Social and cultural events</h4>
            <p>We like to socialise! You get many opportunities to network. We also have other social events – Staff’s parties and events where you and your family are always welcome, cultural events, exhibitions, conferences on interesting topics, etc.</p>
          </li>
        </ul>
        
        <strong>We offer high-quality working conditions to ensure a sound and healthy working environment.</strong>
      </section>



      <section>
        <h2>A career at the CoR</h2>
        <p>Our staff are mainly officials recruited via the reserve lists from general competitions organised by the European Personnel Selection Office. In certain circumstances, however, the European Committee of the Regions may also engage temporary or contract staff.</p>
        <p>Our working and contractual conditions are based on the Staff Regulations (SR) and the Conditions of Employment of other Servants of the European Communities (CEOS).</p>
      </section>

      <section class="cor-grid">
        <div class="cor-stack">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="var(--oc-gray-6)" class="bi bi-card-list" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          </svg>
          <h2>Procedure</h2>
          <p class="txt-xl">The application process for a position at the CoR depends on the contract type. However, in order to be recruited as an official by an EU institution, you have to follow a competition procedure that might include several oral and written tests.</p>
          <a class="txt-xl" href="">Learn more</a>
        </div>
        <ul class="cor-stack cor-containerWithDivider--dotted list-none margin-top padding-left cor-list--arrows">
          <li class="padding-y--3xs">
            <a href="" class="txt-xl strong">Permanent staff</a>
            
          </li>
          <li class="padding-y--3xs">
            <a href="" class="txt-xl strong">Temporary staff</a>
            
          </li>
          <li class="padding-y--3xs">
            <a href="" class="txt-xl strong">National experts</a>
            
          </li>
          <li class="padding-y--3xs">
            <a href="" class="txt-xl strong">Trainees</a>
            
          </li>
        </ul>
      </section>
      
      <section class="cor-stack">
        <h2>Current opportunities  </h2>

        <p>We look for talented individuals from a wide range of disciplines. Will your skills make the difference for European regions and cities? </p>

        <p>We regularly advertise job openings for several support, professional and leadership roles. Mainly, we recruit people through the reserve lists of the European Personnel Selection Office (EPSO). Sometimes, we also employ temporary or contract staff. Read the vacancies and find out the position that best suits your profile.</p>

        <p>The CoR is an equal opportunity employer who believes that inclusion and diversity are necessary to deliver better policies for EU citizens. Therefore, we promote the inclusion of qualified and experienced staff without regard to their gender, age, racial or ethnic origin, religion or beliefs, sexual orientation/identity or disability. </p>

        <h3>Vacancies</h3>

        <div class="cor-jobs-opportunities">
        {% if latestopportunities %}
          {% for item in latestopportunities %}
            <article class="padding">
              <strong class="txt-xl">{{ item.grade }}</strong>
              <h3 class="cor-h5 margin-0">{{ item.jobtitle }}</h3>
              
              <span>Directorate B, Legislative Work 1</span>

              <div>
                <strong>Deadline:</strong>
                <time class="cor-card__date" datetime="2015-05-16 19:00">{{ item.date }}</time>
              </div>
              
            </article>
          {% endfor %}
        {% endif %}
        </div>
        
      </section>

      

      <section class="cor-stack">
        
        <h2>Quick links</h2>

        <ul class="margin-bottom-0 padding-left">
          <li><a href="test.be">Begin your process on <strong>EPSO</strong></a></li>
          <li><a href="test.be">Read our <strong>privacy statements</strong></a></li>
          <li><a href="test.be"><strong>National expert?</strong> Read our  applicable rules</a></li>
        </ul>

      </section>

      <section>
        <h2 class="cor-toc-section" id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      <section class="text-center">
        <a href="test.be" class="txt-step-4">#EUcareers</a>
      </section>

      
    
    </main>

    <section class="bg-europe text-white padding-m grid justify-items-center">
        <a href="www.epso.europa.eu"><img alt="EPSO flag" src="/assets/images/jobs/epsoflag.png" /></a>
        <h2 class="text-white">Do you have the ambition to #ShapingEurope </h2>
        <p>Visit the EU Careers website where you can search the database of available job opportunities for permanent and temporary positions, including contract agent posts, traineeships and secondments in EU Institutions and Agencies.​​</p>
        <a class="www.epso.europa.eu">Join us!</a>
      </section>

  </div>


</div>

