<div class="bg-white cor-container" style="--campaign-color: 10, 175, 203">
  
  {% render "@cover--topbar", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <!-- Initiatives -->
  <article class="cor-box">
    <h2 class="cor-toc-section" id="initiatives">Our latest oppurtunities</h2>
    <div class="cor-switcher items-start">
    {% for initiative in initiatives %}
      <article class="cor-card">
        <img class="cor-image cor-card__image" src="{{ initiative.image }}" alt="alternative text" class="cor-image">
        <span>Deadline: <time class="cor-card__date" datetime="2015-05-16 19:00">{{ initiative.date }}</time></span>
        <h3 class="cor-card__title cor-fontsize--3">
          <a class="cor-card__title__link" href="{{ initiative.link.target }}">{{ initiative.link.text }}</a>
        </h3>
      </article>
    {% endfor %}
    </div>
  </article>
  <!-- /Initiatives -->

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main class="cor-containerWithDivider cor-containerWithDivider--space-l">
      
      <section class="cor-rich-text">
      
        <h2 class="cor-toc-section" id="yourviews">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

        <p>The European Committee of the Regions (CoR) is the voice of regions and cities in the European Union (EU). By empowering local and regional elected politicians to shape the EU legislation, we pursue our mission to create a Union closer to its citizens and built on their needs. </p>

 

        <p>No village, town, or city is too far for us to bring it closer to the pulse of EU politics. By joining the CoR, you will contribute to make Europe a great place to live. At the CoR, you will have the opportunity to address the future challenges of the EU while thriving in a familiar work environment that respects human diversity and enhances individual creativity.  </p>

 

        <p>Throughout your professional path, you can always count on the support of a small but multicultural, dynamic and diverse, community of experts. Thanks to a crosscutting approach to objectives, you will have the chance to share knowledge with colleagues whose rich backgrounds reflect all the diversity and the vast potential of the EU.  </p>

      </section>

      <section class="cor-stack">
        <h2>Meet the people of the CoR</h2>

        <p>The CoR staff works tirelessly for the voice of European regions and cities. But what better occasion to listen to your future colleagues to know how a day within the CoR looks like? </p>

        <p>Testimonials</p>
      </section>

      <section class="cor-stack">
        <h2>Current opportunities  </h2>

        <p>We look for talented individuals from a wide range of disciplines. Will your skills make the difference for European regions and cities? </p>

        <p>We regularly advertise job openings for several support, professional and leadership roles. Mainly, we recruit people through the reserve lists of the European Personnel Selection Office (EPSO). Sometimes, we also employ temporary or contract staff. Read the vacancies and find out the position that best suits your profile.</p>

        <p>The CoR is an equal opportunity employer who believes that inclusion and diversity are necessary to deliver better policies for EU citizens. Therefore, we promote the inclusion of qualified and experienced staff without regard to their gender, age, racial or ethnic origin, religion or beliefs, sexual orientation/identity or disability. </p>

        <h3>VACANCIES</h3>
        <p>There are no vacancies available at the moment. However, the world of European careers is constantly changing. To keep up to date with the latest opportunities, check the EU Careers website. And if you want to stay ahead of the competition, let's practice with EPSO sample tests!  </p>
      </section>

      <section class="cor-stack">
        <h2>Your diversity matters</h2>

        <p>So bring us your personal experience, your perspective, and your background. It is our differences that fuel the power of the EU to deliver a better life for all.</p>
      </section>

      <section class="cor-stack">
        
        <h2>Learn more</h2>

        <section>
          <h3 class="cor-toc-section margin-top" id="links">Related links</h3>
          <ul class="margin-bottom-0 padding-left">
            <li><a href="test.be">Link 1</a></li>
            <li><a href="test.be">Link 2</a></li>
            <li><a href="test.be">Link 3</a></li>
          </ul>
        </section>

        <section>
          <h3 class="cor-toc-section margin-top" id="links">See also</h3>
          <ul class="margin-bottom-0 padding-left">
            <li><a href="test.be">Link 1</a></li>
            <li><a href="test.be">Link 2</a></li>
            <li><a href="test.be">Link 3</a></li>
          </ul>
        </section>

      </section>

      <section>
        <h2 class="cor-toc-section" id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      
    
    </main>

  </div>

</div>
