
<dt class="cor-h2">{{question}}</dt>
  
{% for response in responses %}

  <dd class="border-bottom">

    {{response.text}} <span>{{response.value}}%</span>

    <bar-chart value="{{response.value}}"></bar-chart>

  </dd>

{% endfor %}

<script src="/components/charts/bar-graph/bar-graph.js" type="module"></script>

