
<dt>{{question}}</dt>
  
{% for response in responses %}

  <dd>

    {{response.text}}

    <bar-chart value="{{response.value}}">
      <span slot="item-value">{{response.value}}%</span>
    </bar-chart>

  </dd>

{% endfor %}

<script src="/components/charts/bar-graph/bar-graph.js" type="module"></script>

