
<dt>{{question}}</dt>

{# Start Filter #}
{% for filter in filters %}
<cor-filter>
  <label for="{{ filter.id }}-filter">{{ filter.label }}: </label>

  <select name="{{ filter.id }}" id="{{ filter.id }}-filter">
    {% for value in filter.values %}
      <option value="{{value.id}}">{{value.name}}</option>
    {% endfor %}
  </select>
</cor-filter>
{% endfor %}
{# End Filter #}

{% for response in responses %}

  <dd id="survey-item-{{ questionID }}">

    {{response.text}}

    <ul filter="{% for filter in filters %}{{filter.id}}{% if not loop.last %},{% endif %}{% endfor %}">
      
      {% for value in response.values %}
        <li filterableBy="{{value.country}}">
          <bar-chart theme="theme-1" value="{{value.value}}">
            <span slot="item-text">{{value.countryName}}</span>
            <span slot="item-value">{{value.value}}%</span>
          </bar-chart>
        </li>
      {% endfor %}
    </ul>

  </dd>

{% endfor %}



<script src="/components/charts/bar-graph/bar-graph.js" type="module"></script>
<script src="/components/charts/cor-filter/cor-filter.js" type="module"></script>
