<div class="bg-white cor-container" style="--page-color: 10, 175, 203">
  
  {% render "@cover", {title: title, subtitle: subtitle, poster: false, cta: false }, true %}

  <div class=" cor-content">


    <main class="cor-containerWithDivider cor-containerWithDivider--space-s">
      
      <section class="cor-rich-text cor-box">
      
        <ol class="list-none cor-containerWithDivider cor-containerWithDivider--1">
          {% for president in presidents %}
          <li class="padding cor-stack cor-stack--2xs">       
              {% render "@media--imageflexie", {title: president.name, image: president.portrait, description: president.description, subtitle: president.years, modifier: "img-flexie row-gap-4xs column-gap-xs", readmore: true} %}
          </li>
          {% endfor %}
        </ol>

      </section>

      

      <section>
        {% render "@share" %}
      </section>
      
    
    </main>

  </div>

</div>
