<img 
  width="400" 
  height="300"
  src="puppy-1000.jpg"
  srcset="puppy-1000.jpg 1000w,
          puppy-2000.jpg 2000w,
          puppy-3000.jpg 3000w"
  alt="Puppy with balloons"/>


<img 
width="200" height="137"
  src="https://images.unsplash.com/photo-1613169629286-8457b2ffad9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=200" 
  srcset="https://images.unsplash.com/photo-1613169629286-8457b2ffad9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=200 200w, 
          https://images.unsplash.com/photo-1613169629286-8457b2ffad9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400 400w" 
  alt="">

<img 
width="200" height="137"width="200" height="137"
src="https://images.unsplash.com/photo-1613169629286-8457b2ffad9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=200" 
srcset="https://images.unsplash.com/photo-1613169629286-8457b2ffad9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=200 200w, 
      https://images.unsplash.com/photo-1613169629286-8457b2ffad9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400 400w" 
alt="" 
sizes="25vw">