<article>
  <h2 class="cor-h6">{{ title }}</h2>

  <div class="cor-stack cor-stack--3xs">
    <div><strong>Publication date</strong>: 11.12.2018</div>
    <div><strong>Theme</strong>: Public administration, Euro-Mediterranean Partnership</div>
    <div><strong>Keywords</strong>: CIVEX (Commission for Citizenship, Governance, Institutional and External affairs), ARLEM (Euro-Mediterranean Regional and Local Assembly)</div>
    <div><strong>Author</strong>: Clara Volintiru, PhD (Bucharest Academy of Economic Studies - ASE) and Jose Javier Olivas Osuna, PhD (The London School of Economics and Political Science - LSE).</div>
    <div><strong>Available languages</strong>: <a href="www.test.be">Document1</a> <a href="www.test.be">Document1</a> <a href="www.test.be">Document3</a></div>
  </div>
</article>