.cor-document {
  padding: var(--space-2xs) 2px 2px;
  display: grid;
  gap: var(--space-3xs);
  grid-template-columns: auto 1fr;
  padding: var(--space-2xs);
}

.cor-document::before {
  background-image: var(--icon-document);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  grid-row: span 3;
  height: 24px;
  margin-top: 6px;
  width: 24px;
}

.cor-document__header {
  grid-column: 2 / -1;
}

.cor-document__info {
  display: flex;
  gap: var(--space-2xs);
  grid-column: 2 / -2;
}

.cor-document__header {
  display: grid;
  gap: var(--space-3xs);
}

.cor-document__date {
  color: var(--text-color-light);
  font-size: var(--step--3);
}

.cor-document__tags {
  display: flex;
  gap: var(--space-2xs);
}

.cor-document__tag {
  background-color: var(--oc-indigo-8);
  border-radius: 25px;
  color: white;
}

.mainContent ul[class] li.cor-document__tag {
  padding: var(--space-3xs) var(--space-2xs);
}

.cor-document__translations__item__link {
  text-decoration: underline;
  grid-column: 2;
  grid-row: 2 / 3;
}

/*
.cor-document__translations__item__link::after {
  
  background-image: var(--icon-download);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  grid-row: span 3;
  height: 16px;
  margin-left: var(--space-2xs);
  width: 16px;
}
*/

.cor-document__translations {
  grid-column: 2 / -1;
}

.cor-document__title {
  font-size: var(--step--2);
}

.cor-document__title,
.cor-document__language {
  font-weight: bold;
}

.cor-document__translations__item {
  display: grid;
  gap: var(--space-2xs);
}

.cor-document__translations__item__title {
  grid-template-columns: 1 / 2;
}

.cor-document__translations__item__link {
  margin-left: auto;
}

.cor-document__translations {
  background: white;
  display: grid;
}

.cor-document__info {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.mainContent
  ol.cor-document__translations__list
  li.cor-document__translations__item {
  padding: var(--space-2xs) 0;
}

.cor-document__translations__item + .cor-document__translations__item {
  border-top: solid 1px var(--oc-blue-2);
}

.cor-expander--header {
  justify-self: end;
}

.cor-document__footer {
  display: flex;
  gap: var(--space-2xs);
}

.cor-document__translations__item__link {
  margin-left: auto;
}