<figure class="example no-top-pad">
  <figure>
    <blockquote cite="http://trentwalton.com/2012/06/19/fluid-type">
      <p>Embracing the fluid &amp; flexible aspect of responsive web design was an easy decision, but I’ve been less sure-footed when it comes to balancing that with setting type on the web</p>
    </blockquote>
    <figcaption><cite><small><a href="http://trentwalton.com/2012/06/19/fluid-type">Trent Walton</a></small></cite></figcaption>
  </figure>
</figure>

<aside class="typl8-pull-quote">
  <blockquote>
    <p>Most people who use Helvetica, use it because it's ubiquitous. It's like going to McDonald's instead of thinking about food. Because it's there, it's on every street corner, so let's eat crap because it's on the corner.</p>
  </blockquote>
</aside>