/* Defaults */
:root {
  --font-family: 'Roboto', serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--5-min: 8.44;
  --f--5-max: 7.86;
  --step--5: calc(((var(--f--5-min) / 16) * 1rem) + (var(--f--5-max) - var(--f--5-min)) * var(--fluid-bp));

  --f--4-min: 10.13;
  --f--4-max: 9.83;
  --step--4: calc(((var(--f--4-min) / 16) * 1rem) + (var(--f--4-max) - var(--f--4-min)) * var(--fluid-bp));

  --f--3-min: 12.15;
  --f--3-max: 12.29;
  --step--3: calc(((var(--f--3-min) / 16) * 1rem) + (var(--f--3-max) - var(--f--3-min)) * var(--fluid-bp));


  --f--2-min: 14.58;
  --f--2-max: 15.36;
  --step--2: calc(((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) * var(--fluid-bp));

  --f--1-min: 17.50;
  --f--1-max: 19.20;
  --step--1: calc(((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) * var(--fluid-bp));

  --f-0-min: 21.00;
  --f-0-max: 24.00;
  --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp));

  --f-1-min: 25.20;
  --f-1-max: 30.00;
  --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp));

  --f-2-min: 30.24;
  --f-2-max: 37.50;
  --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp));

  --f-3-min: 36.29;
  --f-3-max: 46.88;
  --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp));

  --f-4-min: 43.55;
  --f-4-max: 58.59;
  --step-4: calc(((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) * var(--fluid-bp));

  --f-5-min: 52.25;
  --f-5-max: 73.24;
  --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp));

  --f-6-min: 15.71;
  --f-6-max: 21.55;
  --step-6: calc(((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) * var(--fluid-bp));

  --f-7-min: 40;
  --f-7-max: 70;
  --step-7: calc(((var(--f-7-min) / 16) * 1rem) + (var(--f-7-max) - var(--f-7-min)) * var(--fluid-bp));
}


/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #C0C0C0;
  --color-gray-90: #333;

  --color-primary: #003753;
  --color-secondary: #CAE7EE;
  --color-third: #6AA842;

  --color-primary-100: #ced8de;
  --color-primary-200: #a5b8c2;
  --color-primary-300: #7c99a6;
  --color-primary-400: #577b8d;
  --color-primary-500: #325e74;
  --color-primary-600: #0d425b;

  --color-secondary-100: #bfdbe1;
  --color-secondary-200: #a1b9be;
  --color-secondary-300: #84989c;
  --color-secondary-400: #69797c;
  --color-secondary-500: #505b5e;
  --color-secondary-600: #363e40;

  --background-color: #fff;

  --measure: 75ch;


  --primary-button-background-color: var(--color-primary);
  --primary-button-hover-color: var(--color-primary-500);
  --secondary-button-background-color: var(--color-primary);

  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-visited: #17050F;
  --text-xl: var(--step--1);

  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.66rem + 0.12vw), 0.75rem);
  --space-xs: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --space-m: clamp(2.00rem, calc(1.90rem + 0.49vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.48rem + 0.73vw), 3.00rem);
  --space-xl: clamp(3.94rem, calc(3.72rem + 1.10vw), 4.50rem);
  --space-2xl: clamp(5.25rem, calc(4.96rem + 1.46vw), 6.00rem);
  --space-3xl: clamp(7.88rem, calc(7.44rem + 2.20vw), 9.00rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --space-xs-s: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --space-s-m: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --space-m-l: clamp(2.00rem, calc(1.61rem + 1.95vw), 3.00rem);
  --space-l-xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.50rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.13rem + 4.02vw), 6.00rem);
  --space-2xl-3xl: clamp(5.25rem, calc(3.79rem + 7.32vw), 9.00rem);

  /* Custom pairs */
  --space-s-l: clamp(1.31rem, calc(0.65rem + 3.29vw), 3.00rem);
}


#CorContainer {
  all: unset;
  accent-color: var(--link-color);
  background-color: var(--body-background-color);
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--step--1);
  overflow-x: hidden;
  caret-color: var(--link-color);
}

#CorContainer img {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
#CorContainer h1,
#CorContainer h2,
#CorContainer h3,
#CorContainer h4,
#CorContainer h5,
#CorContainer h6 {
  font-family: var(--font-family);
}

#CorContainer p {
  max-inline-size: var(--measure);
}



/* Buttons */
.europcom-button {
  background-color: var(--button-background-color);
  border-radius: 50px;
  color: var(--button-text-color);
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--space-3xs);
  align-items: center;
  padding: var(--space-2xs) var(--space-m);
  font-size: var(--step--2);
  font-weight: bold;
}

.europcom-button:hover {
  background-color: var(--primary-button-hover-color);
  cursor: pointer;
}

a.europcom-button,
a.europcom-button:link,
a.europcom-button:visited {
  color: var(--button-text-color);
}

.europcom-button--primary {
  --button-background-color: var(--primary-button-background-color);
  --button-text-color: white;
}

.europcom-button--secondary {
  --button-background-color: white;
  border: solid 1px var(--primary-button-background-color);
}

.europcom-button--primary:hover {
  --button-background-color: var(--primary-button-background-color);
  --button-text-color: white;
}

.europcom-button--secondary:hover {
  --button-background-color: var(--secondary-button-background-color);
  --button-text-color: white;
}

/* Layout: Stack */
.europcom-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.europcom-stack>* {
  margin-block: 0;
}

.europcom-stack>*+* {
  margin-block-start: var(--space-s, 1.5rem);
}

#CorContainer h1,
#CorContainer h2,
#CorContainer h3,
#CorContainer h4,
#CorContainer h5,
#CorContainer h6,
.ms-h1,
.ms-h2,
.ms-h3,
.ms-h4,
.ms-h5,
.ms-h6 {
  margin: initial;
}



/* header-europcom */
#CorContainer .CoRLogo {
  max-width: 100px;
}

@media (max-width: 992px) {
  #CorContainer .CoRLogo {
    display: none !important;
  }
}

#logos.header-europcom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.navbar,
.navbar .navbar-collapse {
  background-color: white;

}

.navbar a.nav-link:hover,
a.nav-link.active,
a.nav-link:active,
a.nav-link:focus,
.navbar .nav-link,
.navbar-expand-lg .navbar-nav a.nav-link:hover {
  color: var(--text-color);
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3,80,153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  border-color: var(--color-primary-400);
}

.navbar .navbar-toggler:hover {
  background-color: var(--color-primary-400);
}

.navbar .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='var(--color-secondary-100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar a.nav-link:hover,
a.nav-link.active,
a.nav-link:active,
a.nav-link:focus {
  background-color: white;
}

.navbar .nav-link {
  font-weight: normal;
}

.navbar .nav-item {
  flex: 0;
  width: auto;
}

a.nav-link.active {
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav a.nav-link,
.navbar-expand-lg .navbar-nav a.nav-link:hover,
.navbar-expand-lg .navbar-nav a.nav-link.active,
.navbar-expand-lg .navbar-nav a.nav-link:active,
.navbar-expand-lg .navbar-nav a.nav-link:focus {
  font-size: var(--step2);
  padding: var(--space-s);
}

.navbar-expand-lg .navbar-nav a.nav-link:hover {
  color: var(--color-secondary-300);
  transition: color .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.navbar-nav .europcom-button {
  display: inline-block;
  margin-left: var(--space-m);
}

@media (max-width: 500px) {
  .CoRLogo {
    display: none;
  }
}

/* Hero */
.europcom-hero {
  padding: var(--space-xl) 0;
}

@media screen and (min-width: 800px) {
  .europcom-hero-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .europcom-hero__imgcontainer {
    grid-column: 5 / -1;
    z-index: 0;
  }

  .europcom-hero__imgcontainer+div {
    order: 2;
    grid-column: 1 / 5;
    grid-row: 1/2;
    z-index: 1;
  }
}


/* Titles */
@media screen and (max-width: 800px) {
  .europcom-hero-europcomtitle {
    margin: var(--space-m) 0 0;
  }
}


header#title .sub-title,
header#title .title,
header#title .location,
header#title .date,
header#title .twitter,
.highlight,
.location.highlight {
  all: unset;
}

#CorContainer .europcom-page-title {
  font-size: var(--step-5);
  margin-top: var(--space-xl);
}

.europcom-hero h2 {
  font-weight: 100;
}

.europcom-hero h3 {
  font-weight: bold;
  line-height: 1 !important;
  text-transform: uppercase;
}

.europcom-hero .date {
  font-size: var(--step-0);
  font-weight: 300;
}

.europcom-hero .date span {
  margin-left: var(--space-2xs);
}

.europcom-hero .twitter {
  font-weight: 100;
  color: var(--color-gray-50);
  display: inline-block;
}

/* cta */
.cta {
  display: flex;
  gap: var(--space-2xs);
}

/* Quote */
.europcom-quote {
  background-color: var(--color-primary);
  color: white;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  font-weight: 200;
  display: grid;
  place-content: center;
}

.ec-europcom-blockquote {
  font-size: var(--step-2);
  margin: 0;
  padding: 0;
}

/* Themes */
#Themes-container {
  background-color: var(--color-secondary);
}

.ec-europcom-themes {
  background-color: transparent;
  border-radius: 0;
}

.ec-europcom-themes,
.ec-europcom-themes__theme {
  background-color: transparent;
  display: block;
}

.theme-description {
  text-align: left;
  margin-top: var(--space-xs);
}

/* Utilities */
.text-m {
  font-size: var(--text-m);
}

.text-xl {
  font-size: var(--text-xl);
}

.text--4 {
  font-size: var(--step--4);
}

.text--3 {
  font-size: var(--step--3);
}

.text--2 {
  font-size: var(--step--2);
}

.text--1 {
  font-size: var(--step--1);
}

.text-0 {
  font-size: var(--step-0);
}

.text-1 {
  font-size: var(--step-1);
}

.text-2 {
  font-size: var(--step-2);
}

.text-3 {
  font-size: var(--step-3);
}

.text-4 {
  font-size: var(--step-4);
}

.text-5 {
  font-size: var(--step-5);
}

.text-6 {
  font-size: var(--step-6);
}

.text-7 {
  font-size: var(--step-7);
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-100 {
  font-weight: 100;
}

/* Home Speakers */
#Speakers-container,
#Themes-container {
  padding: var(--space-l) 0;
}

#Speakers-container {
  text-align: center;
}


.ec-europcom-themes__theme {
  align-items: start;
  display: grid;
  gap: var(--space-s);
  grid-template-columns: var(--space-2xl) 1fr;
}

.theme-title {
  font-size: var(--step-2);
}

.theme-description {
  font-size: var(--text-m);
  line-height: 1.4;
}

@media screen and (min-width: 800px) {
  .ec-europcom-themes__theme {
    gap: var(--space-3xl);
    grid-template-columns: 1fr 1fr;
  }
}

/* Programme */
.europcom-program {
  padding: 0;
}

@media screen and (min-width: 800px) {
  .europcom-program {
    padding: var(--space-2xl) var(--space-3xl);
  }
}

.europcom-program__item {
  border-radius: 50px;
  background-color: var(--color-primary);
  color: white;
  display: grid;
  gap: var(--space-xs);
  justify-items: start;
  padding: var(--space-l) var(--space-m);
}

@media screen and (min-width: 800px) {
  .europcom-program__item {
    padding: var(--space-xl);
  }
}

.europcom-program__item__date {
  font-weight: 100;
  text-transform: uppercase;
}

.europcom-program__item__session {
  font-weight: 800;
  color: var(--color-third);
}

.europcom-program__item__title a,
.europcom-program__item__title a:visited {
  color: white !important;
  text-decoration: underline;
}

.europcom-program__speakerlist {
  display: grid;
  gap: var(--space-s);
  padding: 0;
  margin-bottom: var(--space-m);
}

.europcom-program__speaker {
  align-items: center;
  display: grid;
  gap: var(--space-s);
  grid-template-columns: var(--space-l) 1fr;
}

.europcom-program__avatar img {
  border-radius: 100%;
}

.europcom-program__link {
  align-items: center;
  color: white;
  display: inline-flex;
  gap: var(--space-3xs);
  font-weight: bold;
  font-size: var(--text-xl);
}

.europcom-program__link span {
  text-decoration: underline;
}


/* Item page */
.europcom-hero-image {
  position: relative;
}



@media screen and (min-width: 1000px) {
  .europcom-hero-image h2.europcom-page-title {
    color: white;
    background-color: #0007;
    position: absolute;
    bottom: 0;
    padding: var(--space-s);
    line-height: 1;
  }

  .europcom-hero-image h2.europcom-page-title {
    color: white !important;
    line-height: 1 !important;
  }
}



.p-y {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

/* VIdeo */
.wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Breadcrumb */
.europcom-breadcrumb {
  margin-top: var(--space-m);
}

.europcom-breadcrumb ol {
  background-color: var(--color-secondary-100);
  border: solid 1px var(--color-secondary-200);
  display: flex;
  padding: var(--space-2xs);
  list-style: none;
}

nav.europcom-breadcrumb li {
  padding-right: var(--space-s);
}

nav.europcom-breadcrumb li+li::before {
  display: inline-block;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
  margin-left: var(--space-xs);

}

.europcom-breadcrumb a {
  text-decoration: underline;
}

/* Page content */
.europcom-pagecontent__date {
  display: block;
  text-transform: uppercase;
  font-size: var(--step--1);
  padding-bottom: var(--space-xs);
}

.europcom-pagecontent-wrapper {
  max-width: 800px;
}

/* Speakers */
.speakerDescription {
  color: var(--color-primary);
  text-align: left;
  margin-top: var(--space-2xs);
  font-weight: 100;
}

.speaker_role {
  font-size: var(--step--3);
}

.speakerDescription .speaker_name {
  font-weight: 500;
  font-size: var(--step--1);
  color: var(--color-primary-600);
}

.speakerDescription .speaker_jobTitle {
  font-size: var(--step--2);
  line-height: 1.5;
  color: var(--color-primary-500);
}

#CorContainer .slick-slide {
  height: auto;
}