body {
  background-color: var(--color);

  border: solid 10px red;
}

.cor-width-containers {
  --width-container: 1000px;
  --columnPaddingNormal: var(--space-xs);

  max-width: var(--width-container);
  margin: 0 var(--columnPaddingNormal);
  width: 100%;
}

.cor-main-grid {
  --grid-spacing: var(--grid-spacing);
  --columns: 6;
  --column-width: var(--space-3xl);

  display: grid;
  grid: auto/repeat(var(--columns), minmax(0, var(--column-width)));
  align-items: start;
  justify-content: center;
  padding: var(--space-xl) var(--space-xs);
}