<cor-cover class="cor-cover--topbar">
  
  <hgroup>
    <h1>{% if title %} {{ title }} {% endif %}</h1>
    
    {% if subtitle %}
      <h2>{{ subtitle }}</h2>
    {% endif %}
  </hgroup>

  <div class="cor-stack">
      <p class="txt-xl">{{ description }}</p>

      {% if cta %}
      <p>
        {% for link in cta %}
        <a href="{{ link.link }}" class="txt-xl icon icon-after cor-cover__cta" style="--icon:var(--icon-chevron-right)">{{ link.text }}</a>
        {% endfor %}
        <!--
        <a href="www.greenpeace.org" class="txt-xl icon icon-after" style="--icon:var(--icon-box-arrow-up-right)">Access the survey</a>
        <a href="www.greenpeace.org" class="txt-xl icon icon-after" style="--icon:var(--icon-chevron-right)">Call to action</a>
        -->
      </p>
      {% endif %}
  </div>
  
  <div>
    <img src="{{ poster.src }}" alt="{{ poster.alt }}" />
  </div>
</cor-cover>