.cor-cover h1 {
  font-size: var(--step-2) !important;
}

.cor-cover--grid {
  padding: 0;
}

cor-cover {
  --space: var(--space--2xs, 1rem);

  background-color: white;
  display: grid;
  gap: var(--space-m);
  grid-template-areas:
    "header"
    "cover"
    "description";
}

@media screen and (min-width: 640px) {
  cor-cover {
    grid-template:
      "header header"
      "description cover" / 1fr 1fr;
  }
}

cor-cover > :first-child {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: 100%;
  background-repeat: no-repeat;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  text-align: center;
}

.editmode cor-cover > :first-child {
  display: block;
}

.mainContent cor-cover h1,
.mainContent cor-cover h2 {
  margin: 0;
  padding: 0;
  background-color: var(--text-background-color);
  color: var(--text-color);
  text-align: center;
  text-transform: none;
}

cor-cover h1 {
  font-size: var(--step-3) !important;
}

cor-cover h2 {
  font-size: var(--step-0) !important;
}

cor-cover > :first-child {
  grid-area: header;
}

cor-cover > div:nth-child(0n + 2) {
  grid-area: description;
  padding: 0 var(--space);
}

@media screen and (min-width: 640px) {
  cor-cover > div:nth-child(0n + 2) {
    grid-area: description;
    padding: 0 0 0 var(--space);
  }
}

cor-cover > div:nth-child(0n + 3) {
  grid-area: cover;
}

cor-cover p {
  font-size: var(--step--2);
  line-height: 1.4em;
}

cor-cover.cor-cover--topbar {
  border-top: var(--color) solid var(--space-xs);
}
