.cor-cover h1 {
  font-size: var(--step-2) !important;
}

.cor-cover--grid {
  padding: 0;
}

cor-cover {
  --space: var(--space--2xs, 1rem);

  background-color: white;
  display: grid;
  gap: var(--space-m);
  grid-template-areas:
    "header"
    "cover"
    "description";
}

@media screen and (min-width: 640px) {
  cor-cover {
    grid-template:
      "header header"
      "description cover" / 1fr 1fr;
  }
}

cor-cover > :first-child {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: 100%;
  background-repeat: no-repeat;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  text-align: center;
}

cor-cover h1,
cor-cover h2 {
  margin: 0;
  padding: 0;
  background-color: var(--text-background-color);
  color: var(--text-color);
  text-transform: none;
}

cor-cover h1 {
  font-size: var(--step-3) !important;
}

cor-cover h2 {
  font-size: var(--step-0) !important;
}

cor-cover > :first-child {
  grid-area: header;
}

cor-cover > div:nth-child(0n + 2) {
  grid-area: description;
  padding: 0 var(--space);
}

@media screen and (min-width: 640px) {
  cor-cover > div:nth-child(0n + 2) {
    grid-area: description;
    padding: 0 0 0 var(--space);
  }
}

cor-cover > div:nth-child(0n + 3) {
  grid-area: cover;
}

cor-cover p {
  font-size: var(--step--2);
  line-height: 1.4em;
}

cor-cover.cor-cover--topbar {
  grid-template:
    "bar bar"
    "header header"
    "description cover" / 1fr 1fr;
}

cor-cover.cor-cover--topbar > div:first-child {
  grid-area: bar;
  background-color: rgba(44, 173, 200, 1);
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  padding: var(--space-2xs);
}

cor-cover.cor-cover--topbar > div:first-child img {
  width: 60px;
}

cor-cover.cor-cover--topbar > :first-child {
  background: none;
}

cor-cover.cor-cover--topbar h1,
cor-cover.cor-cover--topbar h2 {
  margin: 0;
  padding: 0;
  color: var(--oc-gray-8);
  text-transform: none;
}

cor-cover.cor-cover--topbar > :nth-child(0n + 2) {
  grid-area: header;
}

cor-cover.cor-cover--topbar > :nth-child(0n + 2),
cor-cover.cor-cover--topbar > :nth-child(0n + 3) {
  padding: 0 0 0 var(--space-s);
}

cor-cover.cor-cover--topbar > div:nth-child(0n + 3) {
  grid-area: description;
}

cor-cover.cor-cover--topbar > div:nth-child(0n + 4) {
  grid-area: cover;
}

cor-cover > :first-child.cor-cover--headingbar {
  display: grid;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    var(--background-color) 78%,
    rgba(44, 173, 200, 1) 88%
  );
  gap: var(--space-m);
  grid-template-columns: 1fr 200px;
  justify-items: end;
}
