.cor-cover h1 {
  font-size: var(--step-2) !important;
}

.cor-cover--grid {
  padding: 0;
}

cor-cover {
  --space: var(--space--2xs, 1rem);

  background-color: white;
  display: grid;
  gap: var(--space-m);
  justify-content: center;
}

cor-cover.cor-cover--1col {
  grid-template-columns: 1fr;
}

cor-cover > :first-child {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: 100%;
  background-repeat: no-repeat;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  text-align: center;
}

.editmode cor-cover > :first-child {
  display: block;
}

.mainContent cor-cover h1,
.mainContent cor-cover h2 {
  margin: 0;
  padding: 0;
  background-color: var(--text-background-color);
  color: var(--text-color);
  text-align: center;
  text-transform: none;
}

cor-cover h1 {
  font-size: var(--step-3) !important;
}

cor-cover h2 {
  font-size: var(--step-0) !important;
}

cor-cover p {
  font-size: var(--step--2);
  line-height: 1.4em;
}

cor-cover.cor-cover--topbar {
  border-top: rgb(var(--page-color)) solid var(--space-xs);
}


.cor-cover__cta:after {
  background: var(--link-color);
}

.cor-cover__header {
  grid-column: 1 / -1;
}

@media screen and (min-width: 640px) {
  .cor-cover--grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .cor-cover--grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  
  .cor-cover--grid-4 .cor-cover__description {
    grid-column: span 3; 
  }
  
  
  cor-cover[class*="left"] .cor-cover__picture {
    grid-column-start: 1;
    order: 0;
  }
  
  cor-cover[class*="left"] .cor-cover__description {
    order: 1;
  }
}

