<div class="cor-grid">
    <div class="cor-box">
			<div class="cor-stack">
					<h1 class="cor-heading--1">{{ title }}</h1>
					<p>{{ description }}</p>
			</div>
		</div>
    <div>
			<img src="https://placeimg.com/1000/1000/nature" alt=""/>
		</div>
</div>