<cor-cover style="--background-color:{{ color }};--text-color: {{ textColor }};--text-background-color: {{ textBgColor }}">
  <hgroup>
    <h1>{% if title %} {{ title }} {% endif %}</h1>
    
    {% if subtitle %}
      <h2>{{ subtitle }}</h2>
    {% endif %}
  </hgroup>

  <div class="cor-stack">
      <p>{{ description }}</p>

      <p>
        <a href="www.greenpeace.org">Access the survey</a>
      </p>
  </div>
  
  <div>
    <img src="{{ poster.src }}" alt="{{ poster.alt }}" />
  </div>
</cor-cover>