
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <!--
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script type="module" src="/assets/js/index.js"></script>
  -->


  <link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/fr-FR/Themable/Core%20Styles/controls15.css">
  <link rel="stylesheet" href="https://cor.europa.eu/_layouts/15/1033/styles/Themable/corev15.css">
  <link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/Main.css">
  <link rel="stylesheet" href="https://cor.europa.eu/Style%20Library/Cor/style/css/Main2.css">


  <link rel="stylesheet" href="{{ '/assets/components/cor-header/css/index.min.css' | url }}">
  <script type="module" src="{{ '/assets/components/cor-header/js/index.min.js' | url }}"></script>
  

  {% if pageStyles %}
    {% for item in pageStyles %}
      <link rel="stylesheet" href="{{ item | url }}">
    {% endfor %}
  {% endif %}
  

  {# Add facility for pages to delare an array of critical styles #}
  
</head>
<body>

  {% include "partials/site-head.html" %}
  
  <main tabindex="-1" class="cor-main-grid {{ page.class }}" id="main-content">
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% block footer %}{% endblock %}
  </footer>

  <script>
    // This is a capable browser, let's improve the UI further!
    document.documentElement.classList.add("enhanced");
    document.documentElement.classList.remove('no-js');
  </script>



</body>
</html>