<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <!-- <script src="../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script> -->

  <title>Document</title>
</head>
<body>
  <dt slot="question">A big question</dd>
	<dd slot="answers">
		<ul>
			<li>
				Response 1 <span>12%</span>
				<bar-chart value="12"></bar-chart>
			</li>
			<li>Response 2 <span>50%</span>
				<bar-chart value="50"></bar-chart>
			</li>
			<li>Response 3 <span>80%</span>
				<bar-chart value="80"></bar-chart>
			</li>
		</ul>
	</dd>

  <dt slot="question">If no, how should european countries show more solidarity?</dd>
	<dd slot="answers">
		<ul>
			<li>By showing greater acceptance of the diversities that exists among the different countries
				<bar-chart values="23.5,22,24,18.5,12">
					<ul>
						<li>Item 1</li>
						<li>Item 1</li>
					</ul>
				</bar-chart>
			</li>
		</ul>
	</dd>

  <script src="bar-graph.js" type="module"></script>
  <script nomodule defer src="../../../dist/bundle.js"></script>
</body>
</html>