.mainContent div,
.mainContent header,
.mainContent nav,
.mainContent main,
.mainContent footer {
  max-width: none;
}

/* Utilities */
.max-width\:measure {
  max-width: var(--measure);
}

.max-width\:measure\/2 {
  max-width: calc(var(--measure) / 2);
}
