/* Modern CSS reset: https://github.com/hankchizljaw/modern-css-reset */

/* Box sizing rules */
.mainContent *,
.mainContent *::before,
.mainContent *::after {
  box-sizing: border-box;
}

/* Remove default padding */
.mainContent ul[class],
.mainContent ol[class] {
  padding: 0;
}

/* Remove default margin */
.mainContent h1,
.mainContent h2,
.mainContent h3,
.mainContent h4,
.mainContent p,
.mainContent ul[class],
.mainContent ol[class],
.mainContent figure,
.mainContent blockquote,
.mainContent dl,
.mainContent dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /*
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  */
}
.mainContent {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
.mainContent ul[class],
.mainContent ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
.mainContent a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
.mainContent img,
.mainContent picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
.mainContent article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
.mainContent input,
.mainContent button,
.mainContent textarea,
.mainContent select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
.mainContent img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
