img {
  margin: unset;
}

/* Sharepoint rich text paste options */
.ms-cui-menu img {
  filter: none !important;
  -webkit-filter: none !important;
  max-width: none;
}

p, .ms-rtestate-field p, p.ms-rteElement-P {
  margin-bottom: 0!important;
}