/* elements */
.mainContent h1,
.mainContent h2,
.mainContent h3,
.mainContent h4 {
  line-height: var(--line-height-small);
  font-family: var(--font-plain);
  font-weight: normal;
  hyphens: auto;
  margin: var(--space-l) 0 var(--space-xs);
}

.mainContent h1 {
  color: var(--text-color);
  font-size: var(--step-4);
}

.mainContent h2,
.ms-rtestate-field h2 {
  color: var(--text-color);
  font-size: var(--step-3);
  text-transform: uppercase;
}

.mainContent h3 {
  color: var(--text-color);
  font-size: var(--step-1);
  font-weight: bold;
}

.mainContent h4 {
  color: var(--text-color);
  font-size: var(--step-1);
}

/* utilities */
.cor-h1 {
  color: var(--text-color);
  font-size: var(--font-size-xl) !important;
}

.cor-h2 {
  font-size: var(--font-size-l);
}

.cor-h3 {
  color: var(--text-color);
  font-size: var(--step-1) !important;
  font-weight: bold;
  text-transform: initial;
}

.cor-h4 {
  font-size: var(--step--1) !important;
}

.font-size\:base {
  font-size: var(--font-size-base) !important;
}

.font-size\:biggish {
  font-size: var(--font-size-biggish) !important;
}

.font-size\:big {
  font-size: var(--font-size-big) !important;
}

.text-color {
  color: var(--text-color) !important;
}

/*
 * Paragraphs
 */
.mainContent p,
.ms-rtestate-field p,
p.ms-rteElement-P {
  font-size: var(--step--3);
  line-height: 1.4em;
}
