<cor-toc class="cor-toc--sticky"></cor-toc>


<section>
  <h2 class="cor-toc-section" id="sectionTitle1">Title 1</h2>
</section>
<section>
  <h2 class="cor-toc-section" id="sectionTitle2">Title 2</h2>
</section>
<section>
  <h2 class="cor-toc-section" id="sectionTitle3">Title 3</h2>
</section>

<script src="/components/toc/toc.js" type="module"></script>