.cor-toc {
  background: white;
  display: block;
}

@media screen and (min-width: 640px) {
  .cor-toc--sticky {
    position: sticky;
    top: 150px;
  }
}

.cor-toc > ul {
  margin: var(--space-3xs) 0 0 0;
  padding: 0;
}

.cor-toc > ul > li {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: var(--space-3xs);
}

.cor-toc h2 {
  color: var(--g-8);
  font-size: var(--step-0) !important;
  font-weight: normal;
  text-transform: initial;
  margin: 0 0 var(--space--4xs) 0;
}

.cor-toc a {
  font-size: var(--step--3);
  text-decoration: none;
  margin-top: var(--space-4xs, 1rem);
}
