<nav class="cor-toc cor-toc--sticky" aria-labelledby="sections-heading">
  <h2 id="sections-heading">{{ title }}</h2>
  <ul class="list-disc">
    {% for item in nav %}
      <li>
        <a href="item.link">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

