:root {
  --chart-theme-2-color-1: hsla(198, 70%, 73%, 1);
  --chart-theme-2-color-2: hsla(293, 4%, 44%, 1);
  --chart-theme-2-color-3: hsla(4, 35%, 41%, 1);
  --chart-theme-2-color-4: hsla(24, 45%, 43%, 1);
  --chart-theme-2-color-5: hsla(275, 32%, 93%, 1);
}
