<cor-toggle class="cor-tender" style="--toggle-heading-padding: 0 var(--space-2xs) 0 0">
  <h3 class="cor-tender-header cor-h6 margin-0" slot="toggle-heading">
    {{ tender.reference }} - 
    {{ tender.title }}
  </h3>
  <div class="cor-tender-content  cor-stack bg-white" slot="toggle-content">
    <span>{{ tender.date }}</span>
    <div>
      {{ tender.description}}
    </div>
    <strong>Deadline to submit request to participate: 27/08/2021 15:00</strong>
  </div>
</cor-toggle>

<script src="/components/toggle/togglev2.js" type="module"></script>