.border {
  --border-size: 1px;
  --border-style: solid;

  border: var(--border-size) var(--border-style) rgb(var(--page-color, var(--border-color, inherit))) !important;
}



.border-top {
  border-width: var(--border-size, 1px) 0 0 0 !important;
}

.border-right {
  border-width: 0 var(--border-size, 1px) 0 0 !important;
}

.border-bottom {
  border-width: 0 0 var(--border-size, 1px) 0 !important;
}

.border-left {
  border-width: 0 0 0 var(--border-size, 1px) !important;
}


.border-0 {
  border-width: 0px;
}

.border-2 {
  --border-size: 2px;
}

.border-3 {
  --border-size: 3px;
}

.border-4 {
  --border-size: 4px;
}

.border-6 {
  --border-size: 6px;
}

.border-8 {
  --border-size: 8px;
}

.border-solid {
  --border-style: solid;
}

.border-dashed {
  --border-style: dashed;
}

.border-dotted {
  --border-style: dotted;
}

.border-double {
  --border-style: double;
}

.border-none {
  --border-style: none;
}



/* Border radius */
.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}	

.border-color-page {
  --border-color: rgb(var(--page-color,var(--oc-gray-8-rgb)));
}

.border-color-commission-civex {
  --border-color: rgb(var(--color-commission-civex-rgb));
}

.border-color-commission-coter {
  --border-color: rgb(var(--color-commission-coter-rgb));
}

.border-color-commission-econ {
  --border-color: rgb(var(--color-commission-econ-rgb));
}

.border-color-commission-enve {
  --border-color: rgb(var(--color-commission-enve-rgb));
}

.border-color-commission-nat {
  --border-color: rgb(var(--color-commission-nat-rgb));
}

.border-color-commission-cedec {
  --border-color: rgb(var(--color-commission-cedec-rgb));
}




