.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-none {
  border-style: none;
}
