.border {
  --border-size: 1px;
  --border-color: var(--color-dark);
  --border-style: solid;

  border: var(--border-size) var(--border-style) var(--border-color) !important;
}

.border-top {
  border-width: var(--border-size, 1px) 0 0 0 !important;
}

.border-right {
  border-width: 0 var(--border-size, 1px) 0 0 !important;
}

.border-bottom {
  border-width: 0 0 var(--border-size, 1px) 0 !important;
}

.border-left {
  border-width: 0 0 0 var(--border-size, 1px) !important;
}


.border-0 {
  border-width: 0px;
}

.border-2 {
  --border-size: 2px;
}

.border-3 {
  --border-size: 3px;
}

.border-4 {
  --border-size: 4px;
}

.border-6 {
  --border-size: 6px;
}

.border-8 {
  --border-size: 8px;
}

.border-solid {
  --border-style: solid;
}

.border-dashed {
  --border-style: dashed;
}

.border-dotted {
  --border-style: dotted;
}

.border-double {
  --border-style: double;
}

.border-none {
  --border-style: none;
}



/* Border radius */
.rounded {
  border-radius: 0.25rem;
}

.border-color-page {
  --border-color: rgb(var(--page-color,var(--oc-gray-8-rgb)));
}

