.bg-t1-c1 {
    background-color: var(--color-theme-01-blue-munsell);
}

.bg-t1-c2 {
    background-color: var(--color-theme-01-polished-pine);
}

.bg-t1-c3 {
    background-color: var(--color-theme-01-laurel-green);
}

.bg-t1-c4 {
    background-color: var(--color-theme-01-pastel-pink);
}

.bg-t1-c5 {
    background-color: var(--color-theme-01-mauve);
}