.padding {
  --padding: var(--space-xs);

  padding: var(--padding) !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-x {
  padding-left: var(--space-xs) !important;
  padding-right: var(--space-xs) !important;
}

.padding-x-xl {
  padding-left: var(--space-xl) !important;
  padding-right: var(--space-xl) !important;
}

.padding-m {
  padding: var(--space-m);
}

.padding-xl {
  padding: var(--space-xl);
}

.padding-y {
  padding-top: var(--space-xs) !important;
  padding-bottom: var(--space-xs) !important;
}

.padding-y-xl {
  padding: var(--space-xl) 0;
}

.padding-y--3xs {
  padding: var(--space-3xs) 0 !important;
}

.padding-left {
  padding-left: var(--space-xs) !important;
}

.padding-left-xl {
  padding-left: var(--space-xl) !important;
}
