.w-4xs {
  width: var(--space-4xs)
}

.w-3xs {
  width: var(--space-3xs)
}

.w-2xs {
  width: var(--space-2xs)
}

.w-xs {
  width: var(--space-xs)
}

.w-s {
  width: var(--space-s)
}

.w-m {
  width: var(--space-m)
}

.w-l {
  width: var(--space-l)
}

.w-xl {
  width: var(--space-xl)
}

.w-2xl {
  width: var(--space-2xl)
}

.w-3xl {
  width: var(--space-3xl)
}

.w-4xl {
  width: var(--space-4xl)
}