<div class="bg-white cor-container" style="--page-color: 10, 175, 203">
  
  {% render "@cover--grid-4-img-left", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    <div class="cor-stack cor-sidenav cor-sidenav--sticky">

      {% render "@toc--dynamic" , {nav: contentnav}, true %}

      
    </div>

    <main class="cor-containerWithDivider cor-containerWithDivider--space-s">
      
      <section class="cor-rich-text">
      
        <h2 id="Our goals">Overview</h2>

        <p>The Belgian delegation consists of 12 members and an equivalent number of alternates. Members are appointed by decision of the respective governments of each of the Belgian regions and communities, after an agreement has been reached on the number of members and alternates to be allocated to each one.</p>

        <p>Belgium's three linguistic communities are therefore represented. Proposals are put forward by the Minister-Presidents, generally in cooperation with the ministers for international relations of each government. The majority of the Belgian members are members of either the governments or the parliaments of the regions and communities. Some members, i.e. the mayors, represent the local authorities.</p>

        <p>All members of the Belgian delegation are expected to meet during CoR plenary sessions in order to coordinate, as effectively as possible, each member's work and to ensure the dissemination of relevant information. There is also cooperation with the federal units' Permanent Representations to the European Union.</p>

        <div class="padding margin-y bg inline-block">
          {% render "@list", {modifier: "documents", typeoflist: "ul", list: documents} %}
        </div>

      </section>

      <section  style="--img-width: var(--space-4xl)">
        <h2 id="president">President</h2>
        <div class="cor-switcher items-start">
        {% for i in [1] %}
          {% render "@member--president" %}
        {% endfor %}
        </div>
      </section>

      <section>
        <h2 id="members">Members</h2>
        <ul class="list-none cor-grid items-start">
        {% for i in [1,2,3,5,6,7,8,9,10,11,12] %}
          <li>{% render "@member" %}</li>
        {% endfor %}
        </ul>
      </section>

      <section>
        <h2 id="alternates">Alternates</h2>
        <ul class="list-none cor-grid items-start">
        {% for i in [1,2,3,5,6,7,8,9,10,11,12] %}
          <li>{% render "@member" %}</li>
        {% endfor %}
        </ul>
      </section>

      <section  style="--img-width: var(--space-2xl)">
        <h2 id="alternates">Coordinators</h2>
        <ul class="list-none cor-grid items-start">
        {% for i in [1,2] %}
          <li>{% render "@member--president" %}</li>
        {% endfor %}
        </ul>
      </section>


      <section>
        <h2 id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      <section>
        {% render "@share" %}
      </section>
      
    
    </main>

  </div>

</div>
