<cor-switcher-l threshold="30rem" space="1rem" data-i="Switcher-30rem1rem5">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</cor-switcher-l>

<script src="/components/layouts/switcher/switcher.js" type="module"></script>