<a href="https://twitter.com/KittyGiraudel" title="Twitter" class="cor-link">
    <svg 
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 16 16"
    >
    {{ svg | safe }}
    </svg>
    <span class="visually-hidden">{{ text }}</span>
</a>
<br/>
<cor-icon-link href="https://twitter.com/KittyGiraudel" svg="images/twitter.svg" text="Link text" title="Twitter">

<script src="/components/links/links.js" type="module"></script>