

<div>
  <a href="javascript:;">Button Link</a>
  <a href="javascript:;" class="cor-btn">Button Link</a>
  <a href="javascript:;" class="cor-btn border rounded">Button Link</a>
</div>

<div>
  <button role="button">Real Button</button>
  <button class="cor-btn" type="button">Real Button</button>
</div>

<div>
  <a href="javascript:;" class="cor-button cor-button--small">Share</a>
  <a href="javascript:;" class="cor-button cor-button--small">Learn More</a>
</div>

<div>
  <a href="javascript:;" class="cor-button cor-button--block">✨ Share on MySpace</a>
</div>

<div class="card">
  <h2>Card</h2>
  <p>A card of wonders.</p>
  <a href="javascript:;" class="cor-button cor-button--small cor-button--centered">Magic</a>
</div>

