<!doctype html>
<html lang="en">

    <head>
        {% include '@head' %}

        <link media="all" rel="stylesheet" href="http://127.0.0.1:5500/dist/all.css" >

    </head>

    <body>

        {% include '@before-content--new' %}
        
        <div class="mainContent">
        
            {{ yield | safe }}

            {% render '@scrolltotop' %}

        </div>
        
        {% include '@after-content' %}


        <script src="https://unpkg.com/@cor-web/cor-design-system@:0.1.83/dist/bundle.modern.js"></script>

    </body>

</html>