<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ '/all.css' | path }}" >
    <title>Preview Layout</title>
</head>
<body>

    <div class="mainContent">
        {{ yield | safe }}
    </div>

    <script src="https://unpkg.com/@cor-web/cor-design-system/dist/bundle.js" nomodule></script>
    
</body>
</html>
