<article class="cor-card {% if modifier %}cor-card--{{ modifier }}{% endif %} {{ cardExtraClass }}">
  {% if image %}
  
  <img  src="{{ image.src }}" alt="{{ image.alt }}" class="cor-card__image cor-image">
<!--
  <img 
  class="cor-card__image"
  width="400" 
  height="300"
  src="{{ image.src }}-570.jpg"
  srcset="{{ image.src }}-1000.jpg 570w,
          {{ image.src }}-2000.jpg 1040w,
          {{ image.src }}-3000.jpg 2080w"
  alt="{{ image.alt }}"/>
-->
  {% endif %}

  {% if date %}
  <time class="cor-card__date text-darkish" datetime="2015-05-16 19:00">{{ date }}</time>
  {% endif %}

  <{% if titleLevel %}{{ titleLevel }}{% else %}h3{% endif %} class="cor-card__title cor-fontsize--3">
    <a class="cor-card__title__link" href="{{ link.target }}">{{ title }} 
      {% if link.size %}
      <small class="cor-card__title__link__info">({{ link.size }})</small>
      {% endif %}
    </a>
  </{% if titleLevel %}{{ titleLevel }}{% else %}h3{% endif %}>

  {% if promo %}
  <p class="cor-card__copy">
    {{ promo }}
  </p>
  {% endif %}

</article>