.cor-card {
  display: flex;
  flex-direction: column;
  font-size: var(--step--3);
  gap: var(--space-3xs);
  overflow: hidden;
}

.cor-card > * {
  margin: 0;
}

.cor-card--border {
  background-color: var(--oc-indigo-0);
  border: solid 1px var(--oc-indigo-8);
  border-radius: 20px;
  display: grid;
  font-size: var(--step--3);
  gap: var(--space-xs);
  padding: var(--space-m) var(--space-2xs);
  overflow: hidden;
}

.cor-card > * {
  margin: 0;
}

h3.cor-card__title {
  all: unset;
  font-size: var(--step--2);
}
