<expanding-list limit="3" more-btn-txt-show="Plus"  more-btn-txt-hide="Moins">
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Five</li>
    <li>Six</li>
  </ul>
</expanding-list>

<script src="/components/expanding-list/expanding-list.js" type="module"></script>