<div class="bg-white cor-container" style="--page-color: 10, 175, 203">
  
  {% render "@cover--topbar", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main class="cor-containerWithDivider cor-containerWithDivider--space-s">
      
      <section class="cor-rich-text">
      
        <h2>A 180 billion budget cut is putting at risk regional and local finances</h2>

        <p>In 2020 local and regional authorities across Europe experienced an increase in expenditure of around 125 billion euros – due to
        pandemic related measures - and a fall in revenues of 55 billion euros - largely due to decreased economic activity, tax, tariff and
        fee income.</p>

        <p>This ''scissors effect'' translates into a gap of around 180 billion euros in our finances, with 130 billion lost by regional and
        intermediate levels, and 50 billion lost at municipal level. German LRAs are the by far the most hit in absolute terms (-111 billions),
        followed by Italian (-22,7) and Spanish (-12,3) ones. The losses as percentage of total revenues were highest for LRAs in Cyprus
        (-25%), Bulgaria (-15,3%) and Luxembourg (-13,5%).</p>

        <h3>How big is the scissors effect</h3>
        <ol>
          <li><span>Austria</span><span>-2.30</span></li>
          <li><span>Belgium</span><span>-4.70</span></li>
          <li><span>Bulgaria</span><span>-0.64</span></li>
          <li><span>Croatia</span><span>-0.24</span></li>
          <li><span>Cyprus</span><span>-0.075</span></li>
          <li><span>Czech Republic</span><span>-1.95</span></li>
          <li><span>Denmark</span><span> -1.91</span></li>
          <li><span>Estonia</span><span> 0.03</span></li>
          <li><span>Finland</span><span> -2.00</span></li>
          <li><span>France </span><span>-7.20</span></li>
          <li><span>Germany </span><span>-111.7</span></li>
          <li><span>Greece</span><span> -0.12</span></li>
          <li><span>Hungary</span><span> -0.15</span></li>
          <li><span>Ireland</span><span> -0.32</span></li>
          <li><span>Italy </span><span>-22.78</span></li>
          <li><span>Latvia</span><span> -0.10</span></li>
          <li><span>Lithuania</span><span> -0.08</span></li>
          <li><span>Luxembourg </span><span>-0.42</span></li>
          <li><span>Malta</span><span> n/a</span></li>
          <li><span>Netherlands </span><span>-2.77</span></li>
          <li><span>Poland</span><span> -3.00</span></li>
          <li><span>Portugal </span><span>-0.55</span></li>
          <li><span>Romania</span><span> -0.43</span></li>
          <li><span>Slovakia </span><span>-0.20</span></li>
          <li><span>Slovenia</span><span> -0.20</span></li>
          <li><span>Spain</span><span> -12.37</span></li>
          <li><span>Sweden</span><span> -3.49</span></li>
          <li><span>EU-27 </span><span>-179.67</span></li>
        </ol>

        <h3>EU regions worst-hit by COVID-19</h3>

      </section>

      <section class="cor-stack">
        <h2 id="What's on" class="margin-0">What's on</h2>
        
        <section>
          <h3>Latest news</h3>

          <div class="cor-l-2andlist">
          {% for newsitem in news %}

            {% set cardExtraClass = "" %}
            {% if loop.index < 3 %}
              {% set cardExtraClass = "bg padding" %}
            {% endif %}
            {% render "@card" , {date: newsitem.date, titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: cardExtraClass } %}
          {% endfor %}
          </div>

        </section>

        <section>

          <h3>Events</h4>
          
          <h4>Upcoming events</h4>

          <div class="cor-grid margin-bottom">
          {% for newsitem in upcomingEvents %}
            {% render "@card" , {date: newsitem.date,  titleLevel: "h5", title: newsitem.title, image: newsitem.image, cardExtraClass: "bg padding" } %}
          {% endfor %}
          </div>

          <h4>Past events</h4>

          <div class="cor-containerWithDivider--dotted ">
          {% for newsitem in pastEvents %}
            {% render "@card" , {date: newsitem.date, titleLevel: "h5", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}
          {% endfor %}
          </div>

        </section>

      </section>
    
      <section class="cor-stack">
        <h2 id="opinions" class="margin-0">Opinions</h2>
        
        <section>
          <h3>Adopted opinions</h3>

          <div class="cor-grid margin-bottom">
          {% for opinion in adoptedOpinions %}
            {% render "@card--opinion" , {title: opinion.title, titleLevel: "h4", link: opinion.link, image: opinion.image, rapporteur: opinion.rapporteur, modifier: "opinion", cardExtraClass: "bg" } %}
          {% endfor %}
          </div>
        </section>

        <section>
          <h3>Opinions currently in discussion</h3>

          <div class="cor-containerWithDivider--dotted cor-stack--2xs">
          {% for newsitem in indiscussionOpinions %}
            {% render "@card" , {date: newsitem.date,  titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}
          {% endfor %}
          </div>
        </section>

      </section>

      <section class="cor-stack">
        <h2 id="opinions" class="margin-0">Reports</h2>
        <div>
          <ol class="cor-list cor-list--documents list-style-none cor-containerWithDivider--dotted">
            <li>
              <a href="document.pdf">14.06.21 European Year of Rail_Abruzzo</a> <small class="cor-list--documents__info">(3 MB - PDF)</small>
            </li>
            <li>
              <a href="document.pdf">14.06.21 Green deal - Building resilient communities</a>  <small class="cor-list--documents__info">(3 MB - PDF)</small>
            </li>
            <li>
              <a href="document.pdf">10.06.21 Green deal - Building resilient communities</a>  <small class="cor-list--documents__info">(3 MB - PDF)</small>
            </li>
            <li>
              {% render "@document--study" %}
            </li>
            <li>
              {% render "@document--study" %}
            </li>
            <li>
              {% render "@document--study" %}
            </li>
          </ol>
        </div>
      </section>

      <section>
        
        <h2 id="learnmore" class="margin-0">Learn more</h2>

        <div class="cor-stack">
          <section>
            <h3 class="cor-toc-section margin-top">Videos and others</h3>
            {% render "@videoplayer--withplaylist" %}
          </section>

          <section>
            <h3 class="cor-toc-section margin-top">Related links</h3>
            <ul class="margin-bottom-0 padding-left">
              <li><a href="test.be">Link 1</a></li>
              <li><a href="test.be">Link 2</a></li>
              <li><a href="test.be">Link 3</a></li>
            </ul>
          </section>

          <section>
            <h3 class="cor-toc-section margin-top">See also</h3>
            
            <div class="cor-stack">
              <div>
                <h4>COVID-19</h4>
                <ul class="padding-left">
                  <li><a href="test.be">Link 1</a></li>
                  <li><a href="test.be">Link 2</a></li>
                  <li><a href="test.be">Link 3</a></li>
                </ul>
              </div>

              <div>
                <h4>Survey</h4>
                <ul class="padding-left">
                  <li><a href="test.be">Link 1</a></li>
                </ul>
              </div>

              <div>
                <h4>USeful resources</h4>
                <ul class="padding-left">
                  <li><a href="test.be">Link 1</a></li>
                </ul>
              </div>
            </div>
          </section>

        </div>

      </section>

      <section>
        <h2 id="contact">Follow us</h2>
        <a href="test.be" class="txt-xl">#EUcareers</a> <a href="test.be" class="txt-xl">#EUcareers</a> <a href="test.be" class="txt-xl">#EUcareers</a> 
      </section>

      <section>
        <h2 id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      <section>
        {% render "@share" %}
      </section>
      
    
    </main>

  </div>

</div>
