</div>
                    <div id="DeltaFormDigest">


                        <script type="text/javascript">//<![CDATA[
                            var formDigestElement = document.getElementsByName('__REQUESTDIGEST')[0];
                            if (!((formDigestElement == null) || (formDigestElement.tagName.toLowerCase() != 'input') || (formDigestElement.type.toLowerCase() != 'hidden') ||
                                (formDigestElement.value == null) || (formDigestElement.value.length <= 0))) {
                                formDigestElement.value = '0x5DBF1AB6D764C04DC2DD36CCF8C80195F955E0432626FAD48B6B11A05CB499AE1F3139B1405E2764A224BFEE03927B792CD9F8102A229EA6DD2874AD0656ACDC,22 Feb 2021 18:23:27 -0000'; _spPageContextInfo.updateFormDigestPageLoaded = new Date();
                            }
        //]]>
                        </script>


                    </div>
                    <!-- =====  Hidden Placeholders ============================================================ -->

                </div>


                <footer class="noindex">
                    <ul>
                        <li>
                            <a id="ctl00_SitemapLink2" href="https://cor.europa.eu/en/Pages/sitemap.aspx"><span
                                    class="ms-splinkbutton-text">Sitemap</span></a>
                        </li>
                        <li>
                            <a id="ctl00_LanguagePolicyLink2"
                                href="https://cor.europa.eu/en/Pages/language-policy.aspx"><span
                                    class="ms-splinkbutton-text">Language policy</span></a>
                        </li>
                        <li>
                            <a id="ctl00_EnvironmentalStatementLink2"
                                href="https://cor.europa.eu/en/Pages/environmental-statement.aspx"><span
                                    class="ms-splinkbutton-text">Environmental statement</span></a>
                        </li>
                        <li>
                            <a id="ctl00_CookiesLink2" href="https://cor.europa.eu/en/Pages/Cookies.aspx"><span
                                    class="ms-splinkbutton-text">Cookies</span></a>
                        </li>
                        <li>
                            <a id="ctl00_LegalNoticeLink2" href="https://cor.europa.eu/en/Pages/legal-notice.aspx"><span
                                    class="ms-splinkbutton-text">Legal notice</span></a>
                        </li>
                    </ul>
                </footer>


            </div>
        </div>
    </div>