<cor-embed src="https://audiovisual.ec.europa.eu/embed/index.html?ref=I-212015&lg=INT" poster="http://unsplash.it/600/400?random&gravity=center">
  <iframe src="" id="videoplayer" width="852" height="480" title=" 146th Plenary session of the European Committee of the Regions: debate on the 2021 EU annual regional and local Barometer, with Maroš Šefčovič, Vice-President of the European Commission" frameborder="0" scrolling="no" webkitAllowFullScreen="true" mozallowfullscreen="true" allowFullScreen="true"></iframe>
</cor-embed>

<script src="/components/embed/embed.js" type="module"></script>