<div class="bg-white cor-container">

  <cor-cover class="cor-cover--grid-4 cor-cover--img-left">
  
  <hgroup class="cor-cover__header">
  
    <h1 class="margin-0">{{ title }}</h1>
    {% if subtitle %} <h2 class="cor-h4">{{ subtitle }}</h2>{% endif %}

  </hgroup>


  <div class="cor-cover__picture">
    <img src="https://placeimg.com/600/400/nature" alt />
    <br/>
    <img width="100" alt="EPP" src="https://cor.europa.eu/Style%20Library/Cor/style/img/Homepage/pg-epp.png" />
  </div>


  <div class="cor-cover__description cor-stack cor-stack--2xs max-width:measure">
      <div>
        <h2 class="cor-h6 font-bold margin-0">Political group</h2>
        <p>ECR (European Conservatives and Reformists Group)</p>
      </div>

      <div>
        <h2 class="cor-h6 font-bold margin-0">Commissions</h2>
        <ul class="margin margin-bottom-0 list-none">
          <li>COTER (Commission for Territorial Cohesion Policy)</li>
          <li>ENVE (Commission for Environment, Climate change and Energy)</li>
        </ul>
      </div>
    
      <div>
        <h2 class="cor-h6 font-bold margin-0">Languages</h2>
        <ul class="margin margin-bottom-0 list-none">
          <li>Polish</li>
          <li>French</li>
        </ul>
      </div>

      <div>
        <h2 class="cor-h6 font-bold margin-0">Represented Country</h2>
        <p>Poland</p>
      </div>

      <div>
        <h2 class="cor-h6 font-bold margin-0">Member of the European Committee of the Regions since</h2>
        <p>08.11.2016</p>
      </div>
      
      <div>
        <h2 class="cor-h6 font-bold margin-0" id="contact">Contact</h2>
        <ul class="margin margin-bottom-0 list-none">
          <li>
            <a href="tel:+33500000000" class="icon icon-before" style="--icon:var(--icon-phone)">+48 17 8501780</a>
          </li>
          <li>
            <a href="mailto:j.rog@podkarpackie.pl" class=" icon icon-before" style="--icon:var(--icon-envelope)">j.rog@podkarpackie.pl</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="cor-h6 font-bold margin-0"  id="socialmedia">Social media</h2>
        <ul class="margin margin-bottom-0 list-none">
          <li>
            <a href="tel:+33500000000" class="icon icon-before" style="--icon:var(--icon-facebook)">Facebook</a>
          </li>
        </ul>
      </div>


  </div>
  
  
</cor-cover>

  <div role="separator"></div>
  
  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main class="cor-containerWithDivider cor-containerWithDivider--space-s">

      <section class="cor-rich-text">
      
        <h2 id="Bodies">Bodies</h2>

        <h3>President/Chair</h3>
        <ul>
          <li>Carpathians IG</li>
          <li>ECR Group</li>
        </ul>

        <h3>Rapporteur</h3>
        <ul>
          <li>7th Mandate - Commission COTER</li>
        </ul>
        
        <h3>Member</h3>
        <ul>
          <li>⁪Conference of Presidents</li>
          <li>CoR Delegation to the CoFoE</li>
          <li>Enlargement Day</li>
          <li>JCC Serbia</li>
          <li>Polish delegation</li>
          <li>WG Ukraine</li>
        </ul>

      </section>

      <section>
        <h2 id="green">Green Deal Going Local</h2>
        <div class="cor-grid">
          <div>
            <p>Cillum nisi ullamco enim exercitation ad dolor adipisicing anim sunt nisi ea sit.</p>
            <ul>
              <li><a href="#">Ambassador of the Covenant of Mayor</a></li>
              <li><a href="#">Climate Pact Ambassador</a></li>
              <li><a href="#">Ambassador of the Covenant of Mayor</a></li>
              <li><a href="#">Climate Pact Ambassador</a></li>
            </ul>
          </div>

          <div>
            <article class="cor-card  bg padding">
              <figure>
                <img src="https://cor.europa.eu/en/events/PublishingImages/4565%20GREEN%20DEAL%20new%20branding%20-%20web%20banner%20900x600.png" alt="alernative text" class="cor-card__image cor-image">
              </figure>  

              <h4 class="cor-card__title cor-fontsize--3">
                <a class="cor-card__title__link" href="">Green Deal</a>
              </h4>

              <p>Laborum elit aliqua cupidatat magna consectetur dolore.</p>

            </article>
          </div>
        </div>
      </section>


      <section class="cor-stack">
        <h2 id="opinions" class="margin-0">Opinions</h2>
        <ul class="cor-list list-style-none cor-containerWithDivider--dotted">
          {% for opinion in opinions %}
            <li>
              <a href="#" sy>{{ opinion.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <h3 id="latets-news">Latest news</h3>

        <div class="cor-l-2andlist">
        {% for newsitem in news %}

          {% set cardExtraClass = "" %}
          {% if loop.index < 3 %}
            {% set cardExtraClass = "bg padding" %}
          {% endif %}
          {% render "@card" , {date: newsitem.date, titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: cardExtraClass } %}
        {% endfor %}
        </div>
      </section>

      <section>
        {% render "@share" %}
      </section>
      
    
    </main>

  </div>

  </div>
</div>
