<div class="bg-white">

  {% include "@page-header" %}  

  <div class="cor-center">

    <div class="cor-stack">
      {% for question in questions %}
        {% if question.type === "bargraph" %}
          {% render "@bar-graph--withfilter", question %}
        {% elif question.type === "multibargraph" %}
          {% render "@multi-bar-graph--withfilter", question %}
        {% else %}

        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>

{#
{% extends "@sidebar" %}

{% block sidebar %}
pip
{% endblock %}

{% block content %}
pop
{% endblock %}
#}

<script src="https://unpkg.com/@cor-web/cor-design-system/dist/charts/bundle.mjs" type="module"></script>
<script src="https://unpkg.com/@cor-web/cor-design-system/dist/charts/bundle.js" nomodule defer></script>
