{% include "@page-header" %}  

<div class="cor-center">

  <div class="cor-stack">
    {% include "@bar-graph" %}  
  </div>

</div>
{#
{% extends "@sidebar" %}

{% block sidebar %}
pip
{% endblock %}

{% block content %}
pop
{% endblock %}
#}