<div class="bg-white cor-survey">

  {% include "@cover--grid" %}  

  <div>

    <div>
      
      <h2 class="cor-survey-title">Your views on the future of europe</h2>

      {% for question in questions %}
        
        <section id="question{{ loop.index }}">
          {% if question.type === "bargraph" %}
            {% render "@bar-graph--withfilter", question, id="1" %}
          {% elif question.type === "multibargraph" %}
            {% render "@multi-bar-graph--withfilter", question %}
          {% else %}

          {% endif %}

          <!--
          <div class="cor-survey__separator">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20px">
              <defs>
                <pattern id="pattern_yP0sk" patternUnits="userSpaceOnUse" width="9.5" height="9.5" patternTransform="rotate(45)">
                  <line x1="0" y="0" x2="0" y2="9.5" stroke="#049CBE" stroke-width="1" />
                </pattern>
              </defs>
              <rect width="100%" height="100%" fill="url(#pattern_yP0sk)" :opacity="1" />
            </svg>
          </div>
          -->
        </section>
      {% endfor %}
    </div>

  </div>
</div>

{#
{% extends "@sidebar" %}

{% block sidebar %}
pip
{% endblock %}

{% block content %}
pop
{% endblock %}
#}

<script src="https://unpkg.com/@cor-web/cor-design-system/dist/charts/bundle.modern.js" type="module"></script>
<script src="https://unpkg.com/@cor-web/cor-design-system/dist/charts/bundle.legacy.js" nomodule defer></script>
