<!doctype html>
<html lang="en">

    <head>
        {% include '@head' %}
    </head>

    <body>

        {% include '@before-content' %}
        
        <div class="mainContent">
        
            {{ yield | safe }}

            {% render '@scrolltotop' %}

        </div>
        
        {% include '@after-content' %}


        <script src="https://unpkg.com/@cor-web/cor-design-system/dist/bundle.modern.js" type="module"></script>
        <script src="https://unpkg.com/@cor-web/cor-design-system/dist/bundle.legacy.js" nomodule defer></script>

    </body>

</html>