<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ '/all.css' | path }}" >
    <title>Preview Layout</title>
</head>
<body>

{{ yield | safe }}

    <script src="https://unpkg.com/@cor-web/cor-design-system/dist/bundle.js" nomodule></script>
    
</body>
</html>
