<!doctype html>
<html lang="en">

    <head>
        {% include '@head' %}

        <link media="all" rel="stylesheet" href="{{ '/all.css' | path }}" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-thumbnail.css">

      

        <style>
            :root {
                --page-color: 28, 126, 214;
                --cover-border-color: 255, 255, 255;
            }
        </style>

        

    </head>

    <body>

        {% include '@before-content--new' %}
        
        <div class="mainContent">
        <!-- {{ _target.context.css }} -->
            {{ yield | safe }}

            {% render '@scrolltotop' %}

        </div>
        
        {% include '@after-content' %}


        <script src="https://unpkg.com/@cor-web/cor-design-system/dist/bundle.js"></script>

    </body>

</html>