<cor-gallery   style="display: block">
  <div id="gallery-container" >
  {% for image in gallery %}
      <a data-sub-html="{{ image.description }}" data-src="{{ image.datasrc }}" class="gallery-item">
            <img alt="test  {{ image.alt }}" src="{{ image.src }}" />
      </a>
    {% endfor %}
  </div>
</cor-gallery>




<!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery-bundle.min.css">

<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/plugins/zoom/lg-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/plugins/thumbnail/lg-thumbnail.min.js"></script>
-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery-bundle.min.css">
<script src="/components/gallery/gallery.js" type="module"></script>