cor-gallery {
  display: block;
}

cor-gallery #gallery-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  position: relative;
}

.mainContent cor-gallery img:not([alt]) {
  filter: inherit;
}

cor-gallery button {
  min-width: inherit;
}

/*
 * Tob bar space (EU websites, Ritton in auth mode)
 */

cor-gallery {
  display: block;
  --top-bar-height: 25px;
  --top-bar-height--authentified: 80px;
}

.lg-inline {
  --top-bar-height: 0px;
  --top-bar-height--authentified: 0px;
}

cor-gallery .lg-backdrop,
cor-gallery .lg-outer {
  top: var(--top-bar-height);
}

cor-gallery .lg-outer {
  height: calc(100% - var(--top-bar-height));
}

.cor-auth cor-gallery .lg-backdrop,
.cor-auth cor-gallery .lg-outer {
  top: var(--top-bar-height--authentified);
}

.cor-auth cor-gallery .lg-outer {
  height: calc(100% - var(--top-bar-height--authentified));
}

/*
 * Description styles
 */
.lg-sub-html {
  text-align: center;
}

.mainContent .lg-sub-html h4 {
  color: white;
  font-size: 14px !important;
  font-weight: strong;
  text-align: center;
}

.mainContent .lg-sub-html p {
  max-width: inherit;
  margin-bottom: 0 !important;
  text-align: center;
}

.mainContent .lg-sub-html small {
  font-size: 12px !important;
}
