<section class="cor-partners margin-y">
  <h2 class="text-center">{{ title }}</h2>
  <div class="cor-switcher">
    <ul>
      {% for partner in partners %}
      <li>
        <a href="{{ partner.link }}">
          <img src="{{ partner.image }}" alt="{{ partner.alttext }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="cor-partners margin-y">
  <h2 class="text-center">{{ title }}</h2>
  <div class="cor-switcher">
    <ul>
      {% for partner in partners.slice(0, 2) %}
      <li>
        <a href="{{ partner.link }}">
          <img src="{{ partner.image }}" alt="{{ partner.alttext }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>