<expanding-list limit="3" more-btn-txt-show="Plus"  more-btn-txt-hide="Moins">
  <ul>
    {% for newsitem in news %}
      <li>{% render "@card" , { link: newsitem.link, date: newsitem.date, titleLevel: "h5", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}</li>
    {% endfor %}
  </ul>
</expanding-list>

<expanding-list limit="3" more-btn-txt-show="Plus"  more-btn-txt-hide="Moins">
  <ul>
    <li>
      {% render "@document" %}
    </li>
    <li>
      {% render "@document" %}
    </li>
    <li>
      {% render "@document" %}
    </li>
    <li>
      {% render "@document" %}
    </li>
    <li>
      {% render "@document" %}
    </li>
    <li>
      {% render "@document" %}
    </li>
  </ul>
</expanding-list>



<script src="/components/expandinglist/expandinglist.js" type="module"></script>