<div class="bg-white cor-container" style="--campaign-color: 10, 175, 203">
  
  {% render "@cover--topbar", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <!-- Initiatives -->
  <article class="cor-box">
    <h2 class="cor-toc-section" id="initiatives">Initiatives</h2>
    <div class="cor-switcher items-start">
    {% for initiative in initiatives %}
      <article class="cor-card">
        <img class="cor-image cor-card__image" src="{{ initiative.image }}" alt="alternative text" class="cor-image">
        <time class="cor-card__date" datetime="2015-05-16 19:00">{{ initiative.date }}</time>
        <h3 class="cor-card__title cor-fontsize--3">
          <a class="cor-card__title__link" href="{{ initiative.link.target }}">{{ initiative.link.text }} 
            {% if initiative.link.size %}
            <small class="cor-card__title__link__info">({{ initiative.link.size }})</small>
            {% endif %}
          </a>
        </h3>
      </article>
    {% endfor %}
    </div>
  </article>
  <!-- /Initiatives -->

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main class="cor-containerWithDivider cor-containerWithDivider--space-l">
      
      <section class="cor-rich-text">
      
        <h2 class="cor-toc-section" id="yourviews">Your views on the future of europe</h2>

        <p>The final results of the Future of Europe survey will feed into the Conference on the Future of Europe in the spring of 2022, and will also be published on this page.</p>

        <p>In the meantime, the graphics below show some of the results of the survey so far. In most cases, the statistics are available both as overall figures and also broken down by EU country.</p>

        <div class="padding margin-y bg inline-block">
          {% render "@list", {modifier: "documents", typeoflist: "ul", list: documents} %}
        </div>

      </section>

      <section class="cor-stack">
        <h2>What's on</h2>
        
        <section>
          <h3 class="cor-toc-section" id="news">Latest news</h3>

          <div class="cor-l-2andlist">
          {% for newsitem in news %}

            {% set cardExtraClass = "" %}
            {% if loop.index < 3 %}
              {% set cardExtraClass = "bg padding" %}
            {% endif %}
            {% render "@card" , {date: newsitem.date, titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: cardExtraClass } %}
          {% endfor %}
          </div>

        </section>

        <section>

          <h3 class="cor-toc-section" id="events">Events</h4>
          
          <h4>Upcoming events</h4>

          <div class="cor-grid margin-bottom">
          {% for newsitem in upcomingEvents %}
            {% render "@card" , {date: newsitem.date,  titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: "bg padding" } %}
          {% endfor %}
          </div>

          <h4>Past events</h4>

          <div class="cor-containerWithDivider--dotted ">
          {% for newsitem in pastEvents %}
            {% render "@card" , {date: newsitem.date, titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}
          {% endfor %}
          </div>

        </section>

      </section>
    
      <section class="cor-stack">
        <h2 class="cor-toc-section" id="events">Opinions & resolution</h2>
        
        <section>
          <h3>Adopted opinions</h3>

          <div class="cor-grid margin-bottom">
          {% for opinion in adoptedOpinions %}
            {% render "@card--opinion" , {title: opinion.title, link: opinion.link, image: opinion.image, rapporteur: opinion.rapporteur, modifier: "opinion", cardExtraClass: "bg" } %}
          {% endfor %}
          </div>
        </section>

        <section>
          <h3>Opinions currently in discussion</h3>

          <div class="cor-containerWithDivider--dotted cor-stack--2xs">
          {% for newsitem in indiscussionOpinions %}
            {% render "@card" , {date: newsitem.date,  titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}
          {% endfor %}
          </div>
        </section>

      </section>

      <section class="cor-stack">
        
        <h2>Learn more</h2>

        <section>
          <h3 class="cor-toc-section margin-top" id="videos">Videos and others</h3>
          {% render "@videoplayer--withplaylist" %}
        </section>

        <section>
          <h3 class="cor-toc-section margin-top" id="links">Related links</h3>
          <ul class="margin-bottom-0 padding-left">
            <li><a href="test.be">Link 1</a></li>
            <li><a href="test.be">Link 2</a></li>
            <li><a href="test.be">Link 3</a></li>
          </ul>
        </section>

      </section>

      <section>
        <h2 class="cor-toc-section" id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      
    
    </main>

  </div>

</div>
