<div class="bg-white cor-container">
  
  {% render "@cover--topbar", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <!-- Initiatives -->
  <article class="cor-box">
    <h2>Initiatives</h2>
    <div class="cor-switcher items-start">
    {% for initiative in initiatives %}
      <article class="cor-card">
        <img class="cor-image cor-card__image" src="{{ initiative.image }}" alt="alternative text" class="cor-image">
        <time class="cor-card__date" datetime="2015-05-16 19:00">{{ initiative.date }}</time>
        <h3 class="cor-card__title">
          <a class="cor-card__title__link" href="{{ initiative.link.target }}">{{ initiative.link.text }} 
            {% if initiative.link.size %}
            <small class="cor-card__title__link__info">({{ initiative.link.size }})</small>
            {% endif %}
          </a>
        </h3>
      </article>
    {% endfor %}
    </div>
  </article>
  <!-- /Initiatives -->

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    {% render "@toc--dynamic" , {nav: contentnav}, true %}

    <main>
      
      <section class="cor-rich-text">
      
        <h2 class="cor-toc-section" id="yourviews">Your views on the future of europe</h2>

        <p>The final results of the Future of Europe survey will feed into the Conference on the Future of Europe in the spring of 2022, and will also be published on this page.</p>

        <p>In the meantime, the graphics below show some of the results of the survey so far. In most cases, the statistics are available both as overall figures and also broken down by EU country.</p>
      
        <div role="separator"></div>
        
        <h2 class="cor-toc-section" id="results">Survey results</h2>

      </section>

      <div role="separator"></div>

      <section>
        <h2 class="cor-toc-section" id="whatson">What's on</h2>
        
        <h3>Latest news</h3>

        <div class="cor-l-2andlist">
        {% for newsitem in news %}
          {% render "@card" , {date: newsitem.date, title: newsitem.title, image: newsitem.image } %}
        {% endfor %}
        </div>

      </section>
    
      

      

      

      <div>
        <h2>Learn more</h2>

        <h3 class="cor-toc-section" id="links">Related links</h3>
        <ul>
          <li><a href="test.be">Link 1</a></li>
          <li><a href="test.be">Link 2</a></li>
          <li><a href="test.be">Link 3</a></li>
        </ul>
      </div>
    
    
      <div role="separator"></div>

      <div>
        <h2 class="cor-toc-section" id="contact">Contact</h2>
        <a href="test.be">contact@cor.europa.eu</a>
      </div>
    
    </main>

  </div>

</div>
