<div class="cor-media">
  <div class="cor-media__img">
    <img src="http://placehold.it/250x250" alt="Placeholder">
  </div>
  <h2 class="cor-media__title">Ut dolore occaecat ullamco elit ad sunt ad magna ex qui deserunt.</h2>
  <div class="cor-media__content">
    <p>Consequat eu est culpa labore. Consectetur eu proident cupidatat ut irure veniam ex duis anim enim occaecat nulla. Esse labore ex nulla ipsum.</p>
  </div>
  <div class="cor-media__footer">
    Sint pariatur excepteur sint magna.
  </div>
</div>