<div class="cor-media {% if modifier %}cor-media--{{ modifier }}{% endif %}">
  <div class="cor-media__img">
    <img src="{{ image.src }}" alt="{{ image.alt }}">
  </div>
  <h2 class="cor-media__title cor-h4 margin-0">{{ title }}</h2>
  <div class="cor-media__content">
    <p>{{ description }}</p>
    {% if readmore %}
    <a href="test.be">Read more</a>
    {% endif %}
  </div>
  <div class="cor-media__footer">
    {{ footer }}
  </div>
</div>