/*
 * Paragraphs
 */
.mainContent p,
.ms-rtestate-field p,
p.ms-rteElement-P,
.cor-p {
  font-size: var(--step--3);
  line-height: 1.4em;
}

.mainContent ol,
.mainContent ul {
  font-size: var(--step--3);
}
