<div class="border">
  border 
</div>
<br/>
<div class="border border-3 border-top border-color-page padding-top">
  border 
</div>
<br/>
<div class="border border-3 border-bottom border-color-page padding-bottom">
  border 
</div>