<div class="bg-white cor-container" style="--page-color: 10, 175, 203">
  
  {% render "@cover--grid-2", {title: title, subtitle: subtitle, poster: poster, description: description, cta: cta}, true %}

  <div class=" cor-content">


    <main class="cor-containerWithDivider cor-containerWithDivider--space-s">
      
      <section class="cor-rich-text cor-box">
      
        <nav class="cor-stack">
          {% for navitem in nav %}
          <a href="test.be">
          {{ navitem }}
          </a>
          {% endfor %}
        </nav>



      </section>

      <section>
        <div class="cor-box">
          <h2>Latest News</h2>
          <div class="cor-switcher items-start">
          {% for initiative in news %}
            {% render "@card" , {date: initiative.date,  titleLevel: "h3", link: initiative.link, title: initiative.title, image: initiative.image, cardExtraClass: cardExtraClass } %}
          {% endfor %}
          </div>
        </div>
      </section>

      <section>
        <div class="cor-box">
          <h2>Latest Events</h2>
          <div class="cor-switcher items-start">
          {% for initiative in news %}
            {% render "@card" , {date: initiative.date, titleLevel: "h3", link: initiative.link, title: initiative.title, image: initiative.image, cardExtraClass: cardExtraClass } %}
          {% endfor %}
          </div>
        </div>
      </section>

      

    
    </main>

  </div>

</div>
