<figure class="cor-card cor-testimonial">
    <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>{{ quote }}</p>
    </blockquote>
    <figcaption><strong>{{ author }}</strong> {% if cite %}, <cite>Brave New World</cite>{% elif more %}, <i>{{ more }}</i> {% endif %}</figcaption>
</figure>