*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
 box-sizing:border-box
}

.cor-container {
  display: grid;
  grid-template-columns: 1311px;
  align-content: center;
}

[hidden] {
  display: none !important;
}

cor-header {
  --background-color: var(--header-nav-color, var(--c-eu));

  background-color: var(--background-color);
  display: grid;
  /*
  grid: 'logo toolbar' 61px
  'logo searchresults' auto
  'logo navbar' 125px / 331px 1fr
  */
  grid-template-columns:250px 64px;
  grid-template-rows: 68px auto auto auto;
  grid-template-areas: "logo button"
                        "space space"
                       "nav nav"
                       "tools tools"
                       "search search";
  position: relative;
  justify-content: space-between;
  align-items: start;
}


@media (min-width: 679px) {
  cor-header {
    grid-template-columns:250px 1fr;
    grid-template-rows: 68px auto auto;
  }
}

cor-header:before {
  background-image: url("cor-diamond-shadow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 200%;
  z-index: 1;
}

cor-header .cor-logo-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
}

cor-header .cor-logo {
  display: block;
}

cor-header .cor-logo img {
  margin: 0 0 0 3%;
  padding-bottom: 20px;
  width: 50%;
}





cor-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

cor-header-navbar {
  --nav-items-text-color: white;

 
  background-color: var(--background-color);
 
  grid-area: nav;
  position: relative;
}

@media (max-width: 679px) {
  cor-header-navbar > nav {
    margin-top: 70px;
    padding: 0 var(--space-xs);
  }
}

@media (min-width: 679px) {
  cor-header-navbar {
    display: flex;
    align-items: center;
    padding-left: calc(250px - var(--space-s));
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  cor-header-navbar > nav {
    margin-top: 0;
  }
}

@media (min-width: 679px) {
  cor-header-navbar > nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}

@media (max-width: 679px) {
  cor-header-navbar > nav {
    display: none;
  }

  cor-header-navbar > nav[data-open=true] {
    display: block !important;
  }

 
}



@media (min-width: 679px) {
  cor-header-navbar > nav > ul > li > a {
    padding: var(--space-m) var(--space-xs);
  }
}

cor-header nav span {
  align-items: center;
  display: flex;
  gap: var(--space-4xs);

}

cor-header nav a {
  color: white;
  display: block;
  font-size: var(--step--3);
  font-weight: 100;
  padding: var(--space-2xs) 0;
  text-decoration: none;
}

@media (max-width: 679px) {
  cor-header nav span {
    justify-content: space-between;
  }
}


@media (min-width: 679px) {
  cor-header nav a {
    color: var(--nav-items-text-color);
  }
}


/*

[clicky-menu].no-js ul {
  padding: var(--space-2xs) 0;
}
*/

/*
[clicky-menu].no-js .cor-header-navbar__level2 {
  background-color: var(--background-color);
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
}
*/

.cor-header-navbar__subpanel {
  display: none;
}

@media (min-width: 679px) {
  [clicky-menu].no-js ul .cor-header-navbar__subpanel {
    background-color: rgba(var(--c-eu-rgb), 0.95);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    visibility: hidden;
    width: 100%;
  }
}

[clicky-menu].no-js ul li > a {
  font-size: var(--step--3);
  padding: var(--space-2xs) var(--space-xs);
}

/*
[clicky-menu].no-js li:hover > * {
  visibility: visible;
}

[clicky-menu].no-js li:focus-within > ul {
  visibility: visible;
}
*/

svg[hidden] {
  display: none;
  position: absolute;
}

[clicky-menu] ul {
  list-style: none;
}

.cor-header-navbar__level1 > li {
  border-bottom: solid 1px white;
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr auto;
}

.cor-header-navbar__level1 > li > a {
  font-size: var(--step--2);
  padding-left: var(--space-xs);
}

.cor-header-navbar__level1 > li > button {
  border-left: solid 1px rgba(255, 255, 255, 0.459);
  padding: 0 var(--space-2xs);
}

.cor-header-navbar__subnav {
  grid-column: 1 / -1;
}

.cor-header-navbar__subnav > li {
  border-top: solid 1px rgba(255, 255, 255, 0.425);
  margin-left: var(--space-xs);
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr auto;
  position: relative;
}

.cor-header-navbar__subnav button {
  border-left: solid 1px rgba(255, 255, 255, 0.425);
  padding: 0 var(--space-2xs);
}


@media (min-width: 679px) {
.cor-header-navbar__subnav > li > a:hover::after {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.5);
  right: 0;
  width: calc(100% + var(--space-s));
  height: 1px;
}
}
.cor-header-navbar__subpanel__heading {
  color: white;
  display: block;
  font-size: var(--step--3);
  margin: var(--space-xs) var(--space-s) 0;
  text-transform: uppercase;
  font-weight: bold;
}

.cor-header-navbar__subpanel__description {
  color: white;
  font-size: var(--step--4);
  margin: var(--space-xs) var(--space-s) 0;
}

cor-header-toolbar {
  --nav-items-text-color: var(--oc-gray-8);


  
  
  grid-area: tools;
  z-index: 1;
}

@media (max-width: 679px) {
  cor-header-toolbar {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

@media (min-width: 679px) {
  cor-header-toolbar {
    align-items: stretch;
  display: flex;
    justify-content: flex-end;
  }
}

cor-header-toolbar > * {
  display: flex;
  align-items: center;
}

cor-header-toolbar button svg path {
  fill: var(--c-eu);
}

@media (max-width: 679px) {
  cor-header-toolbar > nav {
    display: none;
  }

  .cor-nav-toplinks a {
    border-bottom: solid 1px white;
  }

  cor-header-toolbar > nav[data-open=true] {
    display: block !important;
    padding: 0 var(--space-xs);
  }

  cor-header-toolbar > .cor-nav-social-media ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  cor-header-toolbar > .cor-nav-social-media li {
    flex: 1 1 auto;
    display: grid;
  }
  cor-header-toolbar > .cor-nav-social-media a {
    display: block;
  }

  .cor-nav-social-media svg path {
    fill: white;
  }
}


@media (min-width: 679px) {
  .cor-nav-social-media ul,
  .cor-nav-toplinks ul {
    align-content: center;
    display: flex;
    gap: var(--space-xs);
  }
}

.cor-nav-social-media ul > li > a,
.cor-nav-toplinks ul > li > a {
  display: block;
  font-size: var(--step--2);
  padding-left: var(--space-xs);
}

.cor-nav-social-media {
  margin: 0 var(--space-xs);
  padding-left: 0;
}

@media (min-width: 679px) {
  .cor-nav-toplinks {
    margin: 0 0 0 var(--space-xs);
  }
}

@media (max-width: 679px) {

  .cor-nav-social-media {
    margin: var(--space-xs) 0;
  }

  .cor-nav-social-media ul li a {
    place-content: center;
    display: grid;
  }
}

@media (min-width: 679px) {
  .cor-nav-social-media ul li {
    align-content: center;
    display: flex;
  }
}

.cor-nav-social-media ul li a:hover svg path:first-child {
  fill: var(--oc-gray-9);
  transition: 150ms cubic-bezier(0.215,0.61,0.355,1);
}

.visually-hidden {
  display: none;
}


.cor-languages-navigation {
  background: var(--oc-gray-3);
  color: var(--c-eu);
  font-size: var(--step--2);
  padding: 0 var(--space-xs);
  position: relative;
}

.cor-languages-navigation summary {
  cursor: pointer;
  user-select: none;
}

.cor-languages-navigation ul {
  box-shadow: 0 50px 100px -20px #32325d40,0 30px 60px -30px #0000004d ;
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: 1fr 1fr 1fr;
  top: 100%;
  position: absolute;
  right: 0;
  z-index: 3;
  background: var(--oc-gray-3);
  padding: var(--space-xs);
}

.cor-languages-navigation ul a {
  color: var(--c-eu);
}

.cor-search-button-container {
  background: var(--oc-gray-3);
}

@media (max-width: 679px) {
  .cor-search-button-container {
    display: none;
  }
}


.cor-search-button {
  background: var(--oc-gray-3);
  border: none;
  display: grid;
  margin: 0;
  padding: 0 var(--space-xs);
  place-items: center;
}

.cor-search-button-container input {
  background: none;
  border: 0;
  width: 0;
}

.cor-search-button-container:hover,
.cor-search-button-container:hover button,
.cor-languages-navigation:hover {
  background-color: var(--oc-gray-4);
  transition: 150ms cubic-bezier(0.215,0.61,0.355,1);
}


cor-search-box {
  background-color: var(--oc-gray-3);

  display: grid;
  grid-area: search;
  grid-template-columns: 1fr auto;
  padding: var(--space-2xs);
}

@media (min-width: 679px) {
  cor-search-box {
    background-color: var(--oc-gray-3);

    display: inline-grid;
    grid-area: search;
    justify-content: center;
    padding: var(--space-s) var(--space-s) var(--space-m);
  }
}

@media (max-width: 679px) {
  cor-header:not([open]) .cor-search-box {
    display: none;
  }
}

cor-search-box h2 {
  flex-basis: 100%;
  grid-column: 1 / -1;
  margin-top: 0;
}

cor-search-box input {
  grid-column: 1 / 2;
}

cor-search-box button {
  grid-column: 2 / 3;
}

cor-search-box input,
cor-search-box button {
  border: none;
  margin: 0;
  padding: 0;
}

cor-search-box input {
  border: solid 2px var(--c-eu);
  border-radius: 4px 0 0 4px;
  padding: var(--space-3xs) var(--space-2xs);
  width: 100%;
}

cor-search-box button {
  background-color: var(--c-eu);
  border-radius: 0 4px 4px 0;
  color: white;
  display: grid;
  place-items: center;
  padding: var(--space-3xs) var(--space-2xs);
}




.site-nav-toggle {
  background: none;
  border: none;
  cursor:pointer;
  display:inline-flex;
  grid-area: button;
  align-items:center;
  padding: var(--space-2xs);
 }
 .site-nav-toggle svg {
  width:40px;
  height:40px;
  color: white;
  fill:white;
  stroke-width:4;
  stroke-linecap:round;
  stroke-linejoin:round
 }
 .site-nav-toggle #ham-top,
 .site-nav-toggle #ham-middle,
 .site-nav-toggle #ham-bottom {
  transition:all .2s linear
 }
 .site-nav-toggle #ham-top {
  transform-origin:30px 37px
 }
 .site-nav-toggle #ham-bottom {
  transform-origin:30px 63px
 }
 .site-nav-toggle[aria-expanded=true] #ham-middle {
  opacity:0
 }
 .site-nav-toggle[aria-expanded=true] #ham-top {
  transform:rotate(41deg)
 }
 .site-nav-toggle[aria-expanded=true] #ham-bottom {
  transform:rotate(-41deg)
 }



cor-header nav button svg {
  display: block !important;
  transform-origin: 50% 50%;
  transition: all .1s linear;
  color: inherit
}

cor-header nav button[aria-expanded=true] svg {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

cor-header ul[aria-hidden=true] {
  display: none
}

cor-header ul[aria-hidden=false] {
  display: block
}