:root {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  color: var(--color-dark);
}



cor-header img,
cor-header picture {
  max-width: 100%;
  display: block;
  margin: unset;
}


cor-header *,
cor-header *::before,
cor-header *::after {
  box-sizing: border-box
}

[hidden] {
  display: none !important;
}

.cor-skip-link {
  position: fixed;
  top: -30em;
  left: 0;
  right: auto;
  offset-block-start: -30em;
  offset-inline-start: 0;
  offset-inline-end: auto;
  z-index: 999;
  transition: top .1s linear
}

.cor-skip-link:focus {
  outline: 2px solid transparent;
  top: 2px;
  offset-block-start: 2px
}

.cor-skip-link:focus-visible {
  outline: 2px solid transparent;
  top: 2px;
  offset-block-start: 2px
}

/* Sharepoint override*/
cor-header button,
cor-header input[type=button]:hover,
cor-header input[type=reset]:hover,
cor-header input[type=submit]:hover,
cor-header button:hover {
  background: none;
  border: none;
  margin: 0;
}

@media (max-width: 1070px) {

  .enhanced #site-nav,
  .enhanced #tools-quicklinks,
  .enhanced #tools-socialMedia,
  .enhanced #site-search,
  .enhanced #site-languages {
    display: none;
  }

  .enhanced cor-header[open] #site-languages {
    display: block;
  }
}

@media (max-width: 1070px) {

  .enhanced #site-nav[data-open=true],
  .enhanced #tools-quicklinks[data-open=true],
  .enhanced #tools-socialMedia[data-open=true],
  .enhanced #site-search[data-open=true],
  .enhanced #site-languages[data-open=true] {
    display: block;
  }
}

cor-header [data-open=false] {
  display: none;
}

cor-header {
  --background-color: var(--header-nav-color, var(--c-eu));

  background-color: var(--background-color);
  display: grid;
  /*
  grid: 'logo toolbar' 61px
  'logo searchresults' auto
  'logo navbar' 125px / 331px 1fr
  */
  grid-template-columns: 250px 64px;
  grid-template-rows: 68px auto auto auto;
  grid-template-areas: "logo button"
    "space space"
    "nav nav"
    "tools tools"
    "search search";
  margin-bottom: 100px;
  position: relative;
  justify-content: space-between;
  align-items: start;
}


@media (min-width: 1071px) {
  cor-header {
    background-color: transparent;
    align-items: stretch;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 68px auto auto auto auto auto;
    grid-template-areas:
      "tools tools"
      "logo button"
      "space space"
      "search search"
      "nav nav"
      "subnav subnav"
    ;
  }
}

cor-header:before {
  background-image: url("https://cor.europa.eu/Style%20Library/Cor/Main/img/cor-diamond-shadow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 200%;
  z-index: 1;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .25));
}

cor-header .cor-logo-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
}

cor-header .cor-logo {
  display: block;
}

cor-header .cor-logo img {
  margin: 0 0 0 3%;
  padding-bottom: 20px;
  width: 50%;
}


cor-header[light] {
  background-color: var(--c-eu);
}


cor-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

cor-header-navbar {
  --nav-items-text-color: white;


  background-color: var(--background-color);

  grid-area: nav;
  position: relative;
}

@media (max-width: 1070px) {
  cor-header-navbar>nav {
    margin-top: 70px;
    padding: 0 var(--space-xs);
  }
}

@media (min-width: 1071px) {
  cor-header-navbar {
    display: flex;
    align-items: center;
    padding: var(--space-xs) 0 var(--space-xs) calc(200px - var(--space-s));
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    max-height: 131px
      /* Avoid Layout shift */
    ;
  }

  cor-header-navbar>nav {
    margin-top: 0;
    z-index: 2;
  }

  cor-header-navbar>nav>ul {
    display: flex;
    gap: var(--space-m);
  }
}

@media (min-width: 1071px) {

  cor-header-navbar>nav>ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}




@media (min-width: 1071px) {
  cor-header-navbar>nav>ul>li>a {
    padding: 0;
  }

  cor-header-navbar>nav>ul>li>a+button {
    padding-left: var(--space-3xs);
  }
}

cor-header-navbar button {
  color: white;
  font-size: var(--step--3);
}


.enhanced cor-header-navbar #panelsNav button:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16'%3E%3Cpolyline points='4 6, 8 10, 12 6' stroke='white' stroke-width='2' fill='transparent' stroke-linecap='round' /%3E%3C/svg%3E");
  display: inline-block;
  margin-left: var(--space-3xs);
  width: 16px;
  height: 16px;
  transition: all .1s linear;
  color: inherit
}

cor-header-navbar button[open]:after {
  transform: rotate(180deg)
}

cor-panels-nav {
  z-index: 2;
}

cor-header nav a,
cor-header nav a:link,
cor-header nav a:visited {
  color: white;
  cursor: pointer;
  display: block;
  font-size: var(--step--3);
  font-weight: 400;
  padding: var(--space-2xs) 0;
  text-decoration: none;
  transition: color .2s linear;
}

@media (min-width: 1071px) {
  cor-header nav a {
    font-size: var(--step--2);
    padding: 0;
  }
}

cor-header nav a:hover {
  color: var(--link-color);

}

@media (max-width: 1070px) {
  cor-header nav span {
    justify-content: space-between;
  }
}


@media (min-width: 1071px) {
  cor-header nav a {
    color: var(--nav-items-text-color);
  }
}


/*

[clicky-menu].no-js ul {
  padding: var(--space-2xs) 0;
}
*/

/*
[clicky-menu].no-js .cor-header-navbar__level2 {
  background-color: var(--background-color);
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
}
*/

.cor-header-navbar__level2 span {
  background-color: var(--oc-gray-4);
  color: var(--oc-gray-9);
  display: block;
  font-size: var(--step--3);
  font-weight: 400;
  padding: var(--space-2xs) 0 var(--space-2xs) var(--space-2xs);
}



@media (min-width: 1071px) {
  [clicky-menu].no-js ul .cor-header-navbar__subpanel {
    background-color: rgba(var(--c-eu-rgb), 0.95);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    visibility: hidden;
    width: 100%;
  }
}

[clicky-menu].no-js ul li>a {
  font-size: var(--step--3);
  padding: var(--space-2xs) var(--space-xs);
}

/*
[clicky-menu].no-js li:hover > * {
  visibility: visible;
}

[clicky-menu].no-js li:focus-within > ul {
  visibility: visible;
}
*/

svg[hidden] {
  display: none;
  position: absolute;
}

[clicky-menu] ul {
  list-style: none;
}

.cor-header-navbar__level1>li {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr auto;
}

/*
.cor-header-navbar__level1>li:hover {
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 4px;
}
*/

@media (min-width: 1071px) {
  .no-js .cor-header-navbar__level1>li {
    padding: var(--space-2xs);
  }

  .no-js .cor-header-navbar__level1>li:hover {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    position: relative;
  }

  .no-js .cor-header-navbar__level1>li>ul {
    display: none;
  }

  .no-js .cor-header-navbar__level1>li:hover>ul {
    display: block !important;
  }

  .no-js .cor-header-navbar__level1>li:hover>ul {
    background-color: var(--c-eu);
    display: block !important;
    left: -100px;
    top: 100%;
    padding: var(--space-2xs);
    position: absolute;
    width: 500px;
  }
}

@media (max-width: 1070px) {
  .cor-header-navbar__level1>li {
    border-bottom: solid 1px white;
  }
}

@media (max-width: 1070px) {
  .cor-header-navbar__level1>li>a {
    font-size: var(--step--2);
    padding-left: var(--space-xs);
  }
}


@media (max-width: 1070px) {

  .cor-header-navbar__level1>li>button {
    border-left: solid 1px rgba(255, 255, 255, 0.459);
    padding: 0 var(--space-2xs);
  }

}

.cor-header-navbar__subnav {
  grid-column: 1 / -1;
}

.cor-header-navbar__subnav>li {
  border-top: solid 1px rgba(255, 255, 255, 0.425);
  margin-left: var(--space-xs);
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr auto;
  position: relative;
}

.cor-header-navbar__subnav button {
  border-left: solid 1px rgba(255, 255, 255, 0.425);
  padding: 0 var(--space-2xs);
}

@media (min-width: 1071px) {
  .enhanced .cor-header-navbar__subnav>li>a:hover::after {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.5);
    right: 0;
    width: calc(100% + var(--space-s));
    height: 1px;
  }
}

.cor-header-navbar__subpanel__heading {
  color: white;
  display: block;
  font-size: var(--step--3);
  font-weight: bold;
}

.cor-header-navbar__subpanel__description {
  color: white;
  font-size: var(--step--4);
  max-width: 75ch;
}

cor-header-toolbar {
  --nav-items-text-color: var(--oc-gray-8);




  grid-area: tools;

}

@media (max-width: 1070px) {
  cor-header-toolbar {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  cor-panels-nav {
    display: none;
  }
}

@media (min-width: 1071px) {
  cor-header-toolbar {
    align-items: stretch;
    background-color: white;
    display: flex;
    justify-content: flex-end;
  }
}



cor-header-toolbar button svg path {
  fill: var(--c-eu);
}

@media (max-width: 1070px) {


  .cor-nav-toplinks a {
    border-bottom: solid 1px white;
  }



  cor-header-toolbar>nav[data-open=true] {
    display: block !important;
  }

  cor-socialmedia-nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  cor-header-toolbar>.cor-nav-social-media li {
    flex: 1 1 auto;
    display: grid;
  }

  cor-header-toolbar>.cor-nav-social-media a {
    display: block;
  }

  .cor-nav-social-media svg path {
    fill: white;
  }

  .cor-nav-social-media svg[aria-label="Twitter"] path:last-child {
    fill: var(--c-eu);
  }
}


@media (max-width: 1070px) {
  .cor-nav-toplinks {
    padding: 0 var(--space-xs);
  }
}

@media (min-width: 1071px) {

  cor-socialmedia-nav,
  cor-quicklinks-nav {
    display: flex;
    align-content: center;
  }

  .cor-nav-social-media ul,
  .cor-nav-toplinks ul {
    align-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    gap: var(--space-xs);
  }
}

.cor-nav-social-media ul>li>a,
.cor-nav-toplinks ul>li>a {
  display: block;
  font-size: var(--step--3);
}

@media (min-width: 1071px) {

  .cor-nav-social-media ul>li>a,
  .cor-nav-toplinks ul>li>a {
    color: var(--oc-gray-8);
    display: flex;
    font-size: var(--step--3);
    align-items: center;
    padding-left: var(--space-xs);
  }

  .cor-nav-social-media ul {
    height: 100%;
    margin-left: var(--space-xs);
  }

  .cor-nav-social-media ul>li>a {
    padding-left: var(--space-4xs);
  }
}

.cor-nav-social-media {
  margin: 0 var(--space-xs);
  padding-left: 0;
}

@media (min-width: 1071px) {
  .cor-nav-toplinks {
    margin: 0 0 0 var(--space-xs);
  }
}

@media (max-width: 1070px) {

  .cor-nav-social-media {
    margin: var(--space-xs) 0;
  }

  .cor-nav-social-media ul li a {
    place-content: center;
    display: grid;
  }
}

@media (min-width: 1071px) {
  .cor-nav-social-media ul li {
    align-content: center;
    display: flex;
  }
}

.cor-nav-social-media ul li a:hover svg path:first-child {
  fill: var(--oc-gray-9);
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.visually-hidden {
  display: none;
}


.cor-languages-navigation {
  border-top: solid 1px white;
  color: white;
  padding: var(--space-xs) 0 var(--space-xs);
  margin: 0 var(--space-xs) var(--space-xs);
}

@media (min-width: 1071px) {
  cor-languages-selector {
    align-content: stretch;
    background: var(--oc-gray-3);
    display: grid;
    place-content: center;
  }

  .cor-languages-navigation {
    border: none;
    color: var(--c-eu);
    display: grid;
    font-size: var(--step--2);
    height: 68px;
    margin: 0;
    padding: 0;
    place-content: center;
    position: relative;
  }
}

@media (min-width: 1071px) {
  .cor-languages-navigation summary {
    cursor: pointer;
    user-select: none;
    padding: var(--space-2xs);
  }
}

.cor-languages-navigation summary {
  cursor: pointer;
  user-select: none;
}

@media (min-width: 1071px) {
  .cor-languages-navigation summary span {
    display: none;
  }
}

.cor-languages-navigation ul {
  display: grid;
  grid-template-columns: 1fr;

  margin-top: var(--space-2xs);
  margin-left: var(--space-s);
}

.cor-languages-navigation ul li {
  flex: 1 1 auto;
}

.cor-languages-navigation span {
  font-weight: bold;
  padding: var(--space-5xs);
}


@media (min-width: 1071px) {

  .cor-languages-navigation span {
    background-color: var(--oc-gray-3);
    border: solid 1px var(--oc-gray-4);
    border-radius: 100%;
    font-weight: bold;
    padding: var(--space-5xs);
  }

  .cor-languages-navigation ul {
    border: solid 1px var(--oc-gray-5);
    box-shadow: 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d;
    display: grid;
    gap: var(--space-xs);
    grid-template-columns: 1fr;
    right: 0;
    z-index: 3;
    margin: 0;
    background: var(--oc-gray-3);
    padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-s);
    position: fixed;
    top: 68px;
    bottom: 0;
    overflow-y: scroll;
  }

  .cor-languages-navigation ul a:hover {
    background-color: var(--oc-gray-4);
  }

  .cor-languages-navigation ul a,
  .cor-languages-navigation ul a:link,
  .cor-languages-navigation ul a:visited {
    align-items: center;
    color: var(--c-eu);
    display: flex;
    gap: var(--space-4xs);
    padding: var(--space-3xs);
  }
}

@media (min-width: 1071px) {
  .no-js cor-search-button {
    display: block !important;
  }

  cor-search-button button {
    padding: var(--space-xs);
  }
}

@media (max-width: 1070px) {
  .enhanced cor-search-button {
    display: none !important;
  }

}

.cor-search-button-container {
  background: var(--oc-gray-3);
  border-right: solid 1px var(--oc-gray-5);
  border-left: solid 1px var(--oc-gray-5);
  display: grid;
  place-content: center;
}


.cor-search-button {
  background: var(--oc-gray-3);
  border: none;
  display: grid;
  margin: 0;
  padding: 0 var(--space-xs);
  place-items: center;
}

.cor-search-button svg path {
  fill: var(--c-eu);
}

@media (min-width: 1071px) {
  .cor-search-button {
    height: 100%;
    padding: var(--space-xs);
  }

  .cor-search-button:hover {
    background-color: var(--oc-gray-4);
  }
}

.cor-search-button-container input {
  background: none;
  border: 0;
  width: 0;
}

@media (min-width: 1071px) {

  .cor-search-button-container:hover,
  .cor-search-button-container:hover button,
  .cor-languages-navigation:hover {
    background-color: var(--oc-gray-4);
    transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

cor-search-box {
  background-color: var(--oc-gray-3);

  display: grid;
  grid-area: search;
  grid-template-columns: 1fr auto;
  padding: var(--space-2xs);
}

@media (min-width: 1071px) {
  .no-js cor-search-box {
    display: none;
  }
}

.enhanced #site-search[data-open=true] {
  display: grid;
}

@media (min-width: 1071px) {
  cor-search-box {
    background-color: var(--oc-gray-3);

    display: inline-grid;
    grid-area: search;
    justify-content: center;
    padding: var(--space-s) var(--space-s) var(--space-m);
    grid-template-columns: 800px;
  }
}

cor-search-box h2 {
  flex-basis: 100%;
  font-size: var(--step--1);
  grid-column: 1 / -1;
  margin-top: 0;
}

cor-search-box input {
  grid-column: 1 / 2;
}

cor-search-box button {
  grid-column: 2 / 3;
}

cor-search-box input,
cor-search-box button {
  border: none;
  margin: 0;
  padding: 0;
}

cor-search-box input {
  border: solid 2px var(--c-eu);
  border-radius: 4px 0 0 4px;
  padding: var(--space-3xs) var(--space-2xs);
  width: 100%;
}

cor-search-box button {
  background-color: var(--c-eu);
  border-radius: 0 4px 4px 0;
  color: white;
  display: grid;
  place-items: center;
  padding: var(--space-3xs) var(--space-2xs);
}

cor-search-box button:hover {
  background-color: var(--c-eu);
}


site-nav-toggle-button {
  grid-area: button;
}

.site-nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;

  align-items: center;
  padding: var(--space-2xs);
}

.site-nav-toggle svg {
  width: 40px;
  height: 40px;
  color: white;
  fill: white;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round
}

.site-nav-toggle #ham-top,
.site-nav-toggle #ham-middle,
.site-nav-toggle #ham-bottom {
  transition: all .2s linear
}

.site-nav-toggle #ham-top {
  transform-origin: 30px 37px
}

.site-nav-toggle #ham-bottom {
  transform-origin: 30px 63px
}

.site-nav-toggle[aria-expanded=true] #ham-middle {
  opacity: 0
}

.site-nav-toggle[aria-expanded=true] #ham-top {
  transform: rotate(41deg)
}

.site-nav-toggle[aria-expanded=true] #ham-bottom {
  transform: rotate(-41deg)
}



cor-header nav button svg {
  display: block !important;
  transform-origin: 50% 50%;
  transition: all .1s linear;
  color: inherit
}


cor-header nav button[aria-expanded=true] svg {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

cor-header ul[aria-hidden=true] {
  display: none
}

cor-header ul[aria-hidden=false] {
  display: block
}

cor-header-subnav {
  background-color: var(--c-eu);
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.33);
  grid-area: subnav;
  position: absolute;
  width: 100%;
  z-index: 1;
}

cor-header-subnav>ul {}

cor-header-subnav a,
cor-header-subnav a:link,
cor-header-subnav a:visited {
  color: white;
  font-size: var(--step--4);
  text-decoration: none;
}

cor-subnav-item {
  align-items: start;
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: 1fr 3fr;
}

.cor-header-navbar__subpanel {

  grid-column: 2 / -1;
  position: absolute;
  top: 0;
}

ul.cor-header-subnav-list-item {
  padding: var(--space-xs) 0 var(--space-xs) var(--space-xs);
  position: relative;
  display: grid;
  gap: var(--space-4xs);
}

@media (max-width: 1070px) {
  .cor-header-navbar__subnav.cor-header-navbar__level3 {
    background-color: var(--oc-blue-9);
  }
}

@media (min-width: 1071px) {

  .cor-header-navbar__level3 a {
    display: grid;
    gap: var(--space-xs);
    grid-template-columns: 100px 1fr;
    padding: var(--space-2xs) var(--space-4xs);
  }

  .cor-header-navbar__level3 a:hover {
    background-color: rgba(var(--c-eu-rgb), 0.95);
  }

  .enhanced .cor-header-navbar__level3 {
    display: grid;
    gap: var(--space-xs);
    grid-template-columns: 1fr 1fr;
    margin-top: var(--space-xs);
  }
}

.cor-header-navbar__level3 a div {
  display: grid;
  gap: var(--space-4xs);
}

cor-subnav-description {
  display: grid;
  gap: var(--space-2xs);
  padding: var(--space-xs);
}

.cor-header-subnav-list-item+ul {
  align-self: stretch;
  background-color: #0754a7;
  border-left: solid 1px var(--oc-cyan-3);
  z-index: 1;
}


cor-subnav-item li {
  position: relative;
  display: block;
}

cor-subnav-item li.active:after {
  height: 1px;
  background-color: var(--oc-cyan-3);
  content: '';

  position: absolute;
  top: 50%;
  margin-left: var(--space-2xs);
  width: calc(100% + var(--space-xs));
  z-index: 0;
}

cor-subnav-item li.active a,
cor-subnav-item li.active span {
  color: var(--oc-cyan-3);
}

.cor-header-subnav-list-item a,
.cor-header-subnav-list-item a:link,
.cor-header-subnav-list-item a:visited {
  background-color: var(--c-eu);
  display: inline-block;
  padding-right: var(--space-2xs);
  position: relative;
  text-decoration: underline;
  z-index: 1;
}

a.cor-subnav-description__readmore:link {
  display: inline;
  justify-self: start;
  text-decoration: underline;
}

.cor-header-subnav-list-item li:first-child {
  margin-bottom: var(--space-xs);
}

.cor-header-subnav-list-item li:first-child a {
  font-weight: bold;
  font-size: var(--step--2);
  text-decoration: none;
}


.cor-header-navbar__level3 strong {
  display: flex;
  align-items: center;
}


.cor-header-navbar__level3 strong:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16'%3E%3Cpolyline points='4 6, 8 10, 12 6' stroke='white' stroke-width='2' fill='transparent' stroke-linecap='round' /%3E%3C/svg%3E");
  display: inline-block;
  flex-shrink: 0;
  margin-left: var(--space-3xs);
  width: 16px;
  height: 16px;
  transition: all .1s linear;
  color: inherit;
  margin-top: -3px;
  transform: rotate(270deg);
}

.cor-header-navbar__level3 span {
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Sharepoint overrides */
cor-header button {
  min-width: auto;
}

/* /Sharepoint overrides */