<cor-twitter-container id="twitterContainer">
  <script>
    var twitterOptions = {
      service: "smk",
      type: "user",
      screen_name: "@CoR_President",
      count: 4,
      include_rts: false,
      rts_display_original: false,
      exclude_replies: true,
      display_user: true,
      display_user_pic: true,
      auto_expand_photo: false,
      auto_expand_video: false,
      tweet_more_btn: false,
    };
  </script>

  <div class="twitterfacade">
    <img src='/assets/images/twitter-facade.png' srcset="/assets/images/twitter-facade.png 620w,
 /assets/images/twitter-facade-desktop.png 1660w" alt sizes="100vw"
 />
    <button>Show content</button>
  </div>
</cor-twitter-container>
<cor-twitter-container-more class="visually-hidden">  
  <button id="PresidentTwitterButton" onclick="window.open('https://twitter.com/CoR_President', '_blank')" class="txt-xl border rounded-full icon icon-after flex" style="--icon: var(--icon-box-arrow-up-right)">
  &nbsp;More Tweets&nbsp;</button>
</cor-twitter-container-more>


<script src="/components/twitter/twitter.js" type="module"></script>