cor-twitter-container,
cor-twitter-container-more {
  display: grid;
  place-items: center;
}
cor-twitter-container-more {
  visibility: hidden;
}
cor-twitter-container .smk {
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  max-width: initial;
}
.twitterfacade {
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
}
.twitterfacade > button {
  position: absolute;
  top: 50px;
}
cor-twitter-container[loaded] .twitterfacade:hover {
  box-shadow: none;
  cursor: inherit;
}
.twitterfacade > img {
  filter: blur(2px);
}
.twitterfacade:hover > img {
  filter: blur(2px) brightness(0.8);
}
cor-twitter-container[loaded] {
  background: none;
  display: grid;
  gap: var(--space-xs);
  height: auto;
}
cor-twitter-container[loaded] > button {
  display: none;
}

cor-twitter-container > a[href] {
  display: none;
}

cor-twitter-container[loaded] > a[href] {
  display: inline-flex;
}

cor-twitter-container > a {
  padding: var(--space-2xs) var(--space-xs);
}
