<div class="timer">
  <div class="display__time-left"></div>
  <div class="display__end-time"></div>
</div>
<cor-timer data-time="2021-10-09T15:00:00"></cor-timer>
<script src="/components/counter/counter.js" type="module"></script>