<div class="cor-page-header cor-cover {{ background }}" style="background-color: rgb(4, 157, 191);">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
	<defs>
		<pattern id="pattern_W6qH54" patternUnits="userSpaceOnUse" width="9.5" height="9.5" patternTransform="rotate(45)">
			<line x1="0" y="0" x2="0" y2="9.5" stroke="#FFFFFF" stroke-width="1" />
		</pattern>
	</defs>
	<rect width="100%" height="100%" fill="url(#pattern_W6qH54)" :opacity="1" />
</svg>
  
  <div class="cor- cor-flow">
    <h1 class="cor-h1" style="color: white">{{ title }}</h1>
    <time datetime="2020-04-13T00:00:00.000Z">13th of April 2020</time>
  </div>

  <div></div>

  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
	<defs>
		<pattern id="pattern_W6qH54" patternUnits="userSpaceOnUse" width="9.5" height="9.5" patternTransform="rotate(45)">
			<line x1="0" y="0" x2="0" y2="9.5" stroke="#FFFFFF" stroke-width="1" />
		</pattern>
	</defs>
	<rect width="100%" height="100%" fill="url(#pattern_W6qH54)" :opacity="1" />
</svg>
</div>