{% from "../../../node_modules/@cor-web/components/header/macro.njk" import corHeader %}

{% if navisibility %}
{% set navigation = corNavigation %}
{% else %}
{% set navigation = false %}
{% endif %}
<hr/>
<p>11 {{ navigation }} 22</p>sdkjdsojcvops

QQQQ {{ tchou }}PPPP
{{ tchou | eleventyNavigation | eleventyNavigationToHtml | safe }}

{% set navPages = tchou | eleventyNavigation %}
{{ navPages }}

<ul>UUUUL1 {{ tchou }} 
  {%- for entry in tchou %}UUUUL 
    <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
      LIIIII
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>

{{ corHeader({
  "nav": navigation
}) }}
