<div>
  <h2>Section 1</h2>
  <cor-toggle>
    <h3 slot="toggle-heading">My title</h3>
    <div slot="toggle-content">
      My content
    </div>
  </cor-toggle>


  <cor-toggle>
    <h3 slot="toggle-heading">My title</h3>
    <div slot="toggle-content">
      My content
    </div>
  </cor-toggle>

  <cor-toggle>
    <h3 slot="toggle-heading">My title</h3>
    <div slot="toggle-content">
      My content
    </div>
  </cor-toggle>

</div>

<div>
  <h2>Section 2</h2>
  <cor-toggle>
    <h3 slot="toggle-heading">My title</h3>
    <div slot="toggle-content">
      My content
    </div>
  </cor-toggle>


  <cor-toggle>
    <h3 slot="toggle-heading">My title</h3>
    <div slot="toggle-content">
      My content
    </div>
  </cor-toggle>

  <cor-toggle>
    <h3 slot="toggle-heading">My title</h3>
    <div slot="toggle-content">
      My content
    </div>
  </cor-toggle>

</div>


<script src="/components/toggle/toggle.js" type="module"></script>