.mainContent ul.toggle-section-controls {
  text-align: right;
  margin-bottom: 1em;
}

.toggle-section-controls li {
  display: inline;
}

.toggle-section-controls button {
  background: var(--link-color);
  color: #fff;
  border: 0;
  font-size: 0.85rem;
  border-radius: 0.25rem;
}

/*
Custom elements are inline by default
*/
toggle-section {
  display: block;
}

/*
Only applies if script runs and 
`role="region"` is added
*/
toggle-section[role="region"] {
  border-top: solid 2px var(--link-color);
  border-bottom: solid 2px var(--link-color);
}

toggle-section[role="region"] + toggle-section {
  border-top: 0;
}

cor-toggle {
  display: block;
}
