
<toggle-section open="true">
  <h3 class="cor-plenary-heading--3">tou</h3>
  <ul class="cor-plenary__agenda__list">
    test
  </ul>
</toggle-section>


<script src="/components/toggle/toggle.js" type="module"></script>