/*
.cor-page--member cor-cover {
  grid-template-columns: 1fr;
  padding: var(--space-s);
}

@media screen and (min-width: 640px) {
  .cor-page--member cor-cover {
    gap: var(--space-s);
    grid-template-areas: "header header" "cover description";
    grid-template-columns: 12rem 1fr;
  }
}

.cor-page--member cor-cover > :first-child {
  padding: 0;
}

.mainContent .cor-page--member cor-cover h1,
.mainContent .cor-page--member cor-cover h2 {
  text-align: left;
}

.cor-page--member cor-cover > div:nth-child(0n + 2) {
  grid-area: cover;
  margin-bottom: var(--space);
  padding: 0;
}

.cor-page--member cor-cover > div:nth-child(0n + 3) {
  grid-area: description;
}

.cor-page--member cor-cover > div:last-child {
  padding-right: var(--space);
}
*/