<div id="desktop-navigation">
            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse">
                <div class=" navbar-nav">
                  <div class="nav-item">
                    <a id="ctl00_navigationProgramme" class="nav-link" href="{{ '/programme' | url }}"><span class="ms-splinkbutton-text">Programme</span></a>
                  </div>							
                  <div class="nav-item">
                    <a id="ctl00_navigationSpeakers" class="nav-link" href="/europcom/2022/Pages/Contributors.aspx"><span class="ms-splinkbutton-text">Contributors</span></a>
                  </div>
                  <div class="nav-item" style="display: none;">
                    <a id="ctl00_navigationMaterial" class="nav-link" href="/europcom/2022/Pages/Material.aspx"><span class="ms-splinkbutton-text">Material</span></a>
                  </div>							
                  <div class="nav-item">
                    <a id="ctl00_navigationFaq" class="nav-link" href="/europcom/2022/Pages/faq.aspx"><span class="ms-splinkbutton-text">FAQ</span></a>
                  </div>
                  <div class="nav-item">
                    <a id="ctl00_navigationFaq" class="europcom-button europcom-button--primary" href="/europcom/2022/Pages/faq.aspx"><span class="ms-splinkbutton-text">Register</span></a>
                  </div>
                </div>
              </div>
            </nav>	
          </div>