.cor-enlargcountries-grid {
  --threshold: 200px;
  display: grid;
  grid-template: 'headerleft headerright'
                          'contentleft contentright';
  grid-template-columns: 1fr 1fr;
}

.cor-enlargcountries-grid h5:first-child {
  grid-area: headerleft;
}

.cor-enlargcountries-grid h5:first-child + ul {
  grid-area: contentleft;
}

.cor-enlargcountries-grid ul + h5 {
  grid-area: headerright;
}

.cor-enlargcountries-grid ul + h5 + ul {
  grid-area: contentright;
}
