<div class="bg-white cor-container" style="--page-color: 10, 175, 203">
  
  {% render "@cover--grid-2", {title: title, subtitle: subtitle, poster: poster, description: description}, true %}

  <div role="separator"></div>

  <div class="cor-with-sidenav cor-content">

    <div class="cor-stack cor-sidenav cor-sidenav--sticky">

      {% render "@toc--dynamic" , {nav: contentnav}, true %}

      
    </div>

    <main class="cor-containerWithDivider cor-containerWithDivider--space-s">
      
      <section class="cor-rich-text">
      
        <h2 id="Our goals">Joint Consultative Committees (JCCs)</h2>

        <h3 class="cor-h4">Mission statement</h3>

        <p>A JCC provides a consistent and stable form of cooperation with the local and regional authorities of a country seeking to join the EU. Among others JCC activities contribute to:</p>

        <ul>
            <li>preparing local and regional representatives for EU membership</li>
            <li>assessing the impact of EU policies from a local and regional perspective</li>
            <li>a direct two-way information flow on political developments in the countries and in the EU</li>
            <li>monitoring the negotiations, focusing on areas of particular relevance to local and regional authorities</li>
        </ul>

        <h3 class="cor-h4">How is a JCC established?</h3>
<ul>
            <li>On request from the government of the country concerned</li>
            <li>On the basis of the "Stabilization and Association Agreement (SAA)"</li>
            <li>Or in an official declaration of the" Stabilization and Association Council" between the Council of the European Union and the candidate country</li>
</ul>
        <h3 class="cor-h4">Who takes part in the JCCs?</h3>
<ul>
            <li>Half of the representatives are local or regional representatives from the country concerned</li>
            <li>The other half are Members of the Committee of the Regions</li>
            <li>There are two co-chairs, representing the categories mentioned above</li>
</ul>
        <h3 class="cor-h4">How do JCCs work?</h3>
<ul>
            <li>Decisions are taken jointly</li>
            <li>Each JCC adopts its own Rules of Procedure</li>
            <li>JCCs meet twice a year, once in Brussels in the framework of the Enlargement Day event and once in the partner country</li>
</ul>            

<ul class="cor-containerWithDivider cor-containerWithDivider--1 list-none">
  <li>
    <cor-toggle>
      <h3 slot="toggle-heading" class="margin-0 cor-h4">JCC Montenegro</h3>
      <div slot="toggle-content" class="padding">
        <h4 class="cor-h6 bold">Legal basis</h4>
        <p>Decision of the EU – Montenegro Stabilisation and Association Council, 21st June 2011</p>

        <h4 class="cor-h5">Co-Chairs</h4>

        <ul>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
        </ul>

        <h4 class="cor-h5">Members</h4>

        <ul>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
          <li>
            <a href="text.be">
              <strong>Borjanco MICEVSKI</strong> 
            </a>
             Mayor of Municipality of Kriva Palanka
          </li>
        </ul>

      </div>
    </cor-toggle>
  </li>
  <li>
    <cor-toggle>
      <h3 slot="toggle-heading" class="margin-0 cor-h4">JCC North Macedonia</h3>
      <div slot="toggle-content">
        My content
      </div>
    </cor-toggle>
  </li>
  <li>
    <cor-toggle>
      <h3 slot="toggle-heading" class="margin-0 cor-h4">JCC Serbia</h3>
      <div slot="toggle-content">
        My content
      </div>
    </cor-toggle>
  </li>
  <li>
    <cor-toggle>
      <h3 slot="toggle-heading" class="margin-0 cor-h4">JCC Iceland</h3>
      <div slot="toggle-content">
        My content
      </div>
    </cor-toggle>
  </li>
</ul>

<div class="cor-separator margin-y--xl"></div>

<h2>Working Groups (WG's)</h2>

<p>Inter alia, activities of Working Groups contribute to:</p>
<ul>
    <li>fostering cooperation with local and regional authorities in the country or countries it covers</li>
    <li>assessing the impact of EU policies from a local and regional perspective</li>
    <li>a direct two-way information flow on political developments in the countries and in the EU</li>
    <li>exchange of good practice in specific fields of cooperation</li>
</ul>
<h3 class="cor-h4">How is a WG established?</h3>
<ul>
    <li>Via a decision of the CoR Bureau in accordance with the "CoR Rules of Procedure"  </li>           
</ul>
<h3 class="cor-h4">Who takes part in the WG's?</h3>
<ul>
    <li>Members of the CoR</li>
    <li>Participation of local and regional representatives from the partner countries varies according to the topics discussed and the location of the meeting</li>
</ul>
<P>WGs meet twice a year, once in Brussels in the framework of the Enlargement Day event and once in a partner country </p>

<ul class="cor-containerWithDivider cor-containerWithDivider--1 list-none">
  <li>
    <cor-toggle>
      <h3 slot="toggle-heading" class="margin-0">WG Turkey</h3>
      <div slot="toggle-content">
        My content
      </div>
    </cor-toggle>
  </li>
  <li>
    <cor-toggle>
      <h3 slot="toggle-heading" class="margin-0">WG Western Balkans</h3>
      <div slot="toggle-content">
        My content
      </div>
    </cor-toggle>
  </li>
</ul>


<script src="/components/toggle/toggleNew.js" type="module"></script>



        <div class="padding margin-y bg inline-block">
          {% render "@list", {modifier: "documents", typeoflist: "ul", list: documents} %}
        </div>

      </section>

      <section class="cor-stack">
        <h2 id="What's on" class="margin-0">What's on</h2>
        
        <section>
          <h3>Latest news</h3>

          <ul class="cor-l-2andlist list-style-none">
          {% for newsitem in news %}

            {% set cardExtraClass = "" %}
            {% if loop.index < 3 %}
              {% set cardExtraClass = "bg padding" %}
            {% endif %}
            <li class="padding-top-2xs">
              {% render "@card" , {date: newsitem.date, titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: cardExtraClass } %}
            </li>
          {% endfor %}
          </ul>

        </section>

        <section>

          <h3>Events</h4>
          
          <h4>Upcoming events</h4>

          <ul class="cor-l-2andlist margin-bottom list-style-none">
          {% for newsitem in upcomingEvents %}

            {% set cardExtraClass = "" %}
            {% if loop.index < 3 %}
              {% set cardExtraClass = "bg padding" %}
            {% endif %}
            <li class="padding-top-2xs">
              {% render "@card" , {date: newsitem.date,  titleLevel: "h5", title: newsitem.title, image: newsitem.image, cardExtraClass: cardExtraClass } %}
            </li>
          {% endfor %}
          </ul>

          <h4>Past events</h4>

          <ul class="cor-containerWithDivider--dotted list-style-none">
          {% for newsitem in pastEvents %}
            <li class="padding-y-2xs">
              {% render "@card" , {date: newsitem.date, titleLevel: "h5", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}
            </li>
          {% endfor %}
          </ul>

        </section>

      </section>
    
      <section class="cor-stack">
        <h2 id="opinions" class="margin-0">Opinions</h2>
        
        <section>
          <h3>Adopted opinions</h3>

          <ul class="cor-grid margin-bottom list-style-none">
          {% for opinion in adoptedOpinions %}
            <li>
              {% render "@card--opinion" , {title: opinion.title, titleLevel: "h4", link: opinion.link, image: opinion.image, rapporteur: opinion.rapporteur, modifier: "opinion", cardExtraClass: "bg" } %}
            </li>
          {% endfor %}
          </ul>
        </section>

        <section>
          <h3>Opinions currently in discussion</h3>

          <ul class="cor-containerWithDivider--dotted cor-stack--2xs list-style-none">
          {% for newsitem in indiscussionOpinions %}
            <li>
              {% render "@card" , {date: newsitem.date,  titleLevel: "h4", title: newsitem.title, image: newsitem.image, cardExtraClass: "padding-y--3xs" } %}
            </li>
          {% endfor %}
          </ul>
        </section>

      </section>

      <section class="cor-stack">
        <h2 id="opinions" class="margin-0">Reports</h2>
        <div>
          <ol class="cor-list cor-list--documents list-style-none cor-containerWithDivider--dotted">
            <li>
              <a href="document.pdf">14.06.21 European Year of Rail_Abruzzo</a> <small class="cor-list--documents__info">(3 MB - PDF)</small>
            </li>
            <li>
              <a href="document.pdf">14.06.21 Green deal - Building resilient communities</a>  <small class="cor-list--documents__info">(3 MB - PDF)</small>
            </li>
            <li>
              <a href="document.pdf">10.06.21 Green deal - Building resilient communities</a>  <small class="cor-list--documents__info">(3 MB - PDF)</small>
            </li>
            <li>
              {% render "@document--study" %}
            </li>
            <li>
              {% render "@document--study" %}
            </li>
            <li>
              {% render "@document--study" %}
            </li>
          </ol>
        </div>
      </section>

     

      <section>
        
        <h2 id="learnmore" class="margin-0">Learn more</h2>

        <div class="cor-stack">
          <section>
            <h3 class="cor-toc-section margin-top" id="multimedia">Videos and others</h3>
            {% render "@videoplayer--withplaylist" %}
          </section>

       

          <section>
            <h3 class="cor-toc-section margin-top">Related links</h3>
            <ul class="margin-bottom-0 padding-left">
              <li><a href="test.be">Link 1</a></li>
              <li><a href="test.be">Link 2</a></li>
              <li><a href="test.be">Link 3</a></li>
            </ul>
          </section>

          <section>
            <h3 class="cor-toc-section margin-top">See also</h3>
            
            <div class="cor-stack">
              <div>
                <h4>COVID-19</h4>
                <ul class="padding-left">
                  <li><a href="test.be">Link 1</a></li>
                  <li><a href="test.be">Link 2</a></li>
                  <li><a href="test.be">Link 3</a></li>
                </ul>
              </div>

              <div>
                <h4>Survey</h4>
                <ul class="padding-left">
                  <li><a href="test.be">Link 1</a></li>
                </ul>
              </div>

              <div>
                <h4>USeful resources</h4>
                <ul class="padding-left">
                  <li><a href="test.be">Link 1</a></li>
                </ul>
              </div>
            </div>
          </section>

        </div>

      </section>

      <section>
        <h2 id="contact">Follow us</h2>
        <a href="test.be" class="txt-3xl">#EUcareers</a> <a href="test.be" class="txt-3xl">#EUcareers</a> <a href="test.be" class="txt-3xl">#EUcareers</a> 
      </section>

      <section>
        <h2 id="contact">Contact</h2>
        <a href="test.be" class="txt-xl">contact@cor.europa.eu</a>
      </section>

      <section>
        {% render "@share" %}
      </section>
      
    
    </main>

  </div>

</div>
