/* elements */
h3 {
  font-size: var(--font-size-l);
}

h2 {
  font-size: var(--font-size-xl);
}

/* Utilities */

.font-size\:base {
  font-size: var(--font-size) !important;
}

.font-size\:l {
  font-size: var(--font-size-l) !important;
}

.font-size\:xl {
  font-size: var(--font-size-xl) !important;
}