@import url("./settings/_settings.css");

@import url("./generic/_all.css");

@import url("./core/_typography.css");

@import url("./layouts/_all.css");

@import url("./objects/_all.css");

@import url("./utilities/_all.css");

:root {
  line-height: var(--ratio);
  font-size: calc(.333vw + 1em);
  font-family: var(--font-plain);
  color: var(--color-dark);
}