@import url("./settings/_all.css");

@import url("./generic/_all.css");

@import url("./layouts/_all.css");

@import url("./objects/_all.css");

@import url("./utilities/_all.css");

:root .mainContent {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  color: var(--color-dark);
}
