.mainContent #Result .ms-srch-item-body h3,
.mainContent #Result .ms-srch-item-summary,
.mainContent #Result .ms-srch-hover-title,
.mainContent #Result *,
.cor-search-refiner * {
  font-size: var(--step--3);
}

.mainContent #Result .ms-webpart-titleText {
  font-size: var(--step--2);
}

.mainContent #Result .ms-srch-item-icon img,
.mainContent #Result .ms-srch-hover-site-icon-result {
  filter: none;
  display: inline;
}