.cor-l-2andlist {
  --space: var(--space-s);

  display: grid;
  gap: var(--space);
  grid-template-columns:repeat(auto-fill, minmax(min(270px, 50%), 1fr));
}

.cor-l-2andlist > :nth-child(n + 3) {
  border-top: dotted 1px var(--oc-gray-3);
  grid-column: 1 / -1;
  padding: var(--space-3xs) 0;
}

.cor-l-2andlist > :nth-child(n + 3) img {
  display: none;
}

.cor-l-2andlist > .bg + * {
  border-top: none;
}
