.cor-l-2andlist {
  --space: var(--space-s);

  display: flex;
  flex-wrap: wrap;
}

.cor-l-2andlist > * {
  flex-basis: 15rem;
  flex-grow: 1;
}

.cor-l-2andlist > :first-child {
  margin-right: var(--space);
}

.cor-l-2andlist > :nth-child(3) {
  margin-top: var(--space-s);
}

.cor-l-2andlist > :nth-child(n + 3) {
  border-top: solid 1px var(--oc-gray-2);
  flex-basis: 100%;
  padding: var(--space-3xs) 0;
}

.cor-l-2andlist > :nth-child(n + 3) img {
  display: none;
}

.cor-l-2andlist > .bg + * {
  border-top: none;
}
