.cor-grid {
  --space: var(--space-xs);
  --measure: var(--threshold, 350px);

  display: grid;
  gap: var(--space);
}

@supports (width: min(250px, 100%)) {
  .cor-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--measure, 350px), 100%), 1fr)
    );
  }
}
