.cor-grid {
  --space: var(--space-xs);

  display: grid;
  gap: var(--space);
}

@supports (width: min(250px, 100%)) {
  .cor-grid {
    grid-template-columns:repeat(auto-fill, minmax(min(270px, 50%), 1fr));
  }
}
