.cor-with-sidenav {
  align-items: start;
  display: grid;
  gap: var(--space-s);
  grid-template-columns: minmax(0, 1fr);
  padding: var(--space-m) var(--space-s);
}

@media screen and (min-width: 640px) {
  .cor-with-sidenav {
    grid-template-columns: 12rem minmax(0, 1fr);
  }
}
