.cor-stack {
  --stack-space: var(--space, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cor-stack--3xs {
  --stack-space: var(--space-3xs);
}

.cor-stack--2xs {
  --stack-space: var(--space-2xs);
}

.cor-stack--xs {
  --stack-space: var(--space-xs);
}

.cor-stack--s {
  --stack-space: var(--space-s);
}

.cor-stack--m {
  --stack-space: var(--space-l);
}

.cor-stack--l {
  --stack-space: var(--space-l);
}

.cor-stack--xl {
  --stack-space: var(--space-xl);
}

.cor-stack--2xl {
  --stack-space: var(--space-2xl);
}

.cor-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.cor-stack > * + * {
  margin-top: var(--stack-space);
}

/* Used when a section is alone in a webpart */
.cor-children-sections-margin-bottom section {
  margin-bottom: var(--space, 1.5rem);
}