.cor-nav--horizontal {
  display: flex;
}

.cor-nav--horizontal a {
  color: white;
  padding: var(--space-2xs) var(--space-m);
  text-decoration: none;
}

.cor-nav--horizontal {
  background-color: var(--oc-blue-8);
}

nav > ul li ul {
  display: none;
}

nav > ul li:hover ul {
  display: block;
}

/* Main Nav */
nav a:hover,
nav a:focus {
  color: #036;
  background-color: #fff;
  text-decoration: underline;
}

nav a:active {
  color: #fff;
  background-color: #024;
  text-decoration: underline;
}

nav [aria-current="page"] {
  background-color: #bbb;
  color: #000;
  border-bottom: 0.25em solid #444;
}
