<h3>{{intro}}</h3>

{# Start Filter #}
{% for filter in filters %}
<cor-filter>
  <label for="{{ filter.id }}-filter">{{ filter.label }}</label>

  <select name="{{ filter.id }}" id="{{ filter.id }}-filter">
    {% for value in filter.values %}
      <option value="{{value.id}}">{{value.name}}</option>
    {% endfor %}
  </select>
</cor-filter>
{% endfor %}
{# End Filter #}

<dl>
  
  {% for subject in subjects %}
    
    <dt>{{subject.subject}}</dt>
    
    {# If it's the last question, we will show the legend #}
    {% set lastQuestion = loop.last %}
    
    <dd filter="{% for filter in filters %}{{filter.id}}{% if not loop.last %},{% endif %}{% endfor %}">

        {% for response in subject.responses %}
          {# Start Multi bar graph #}
          
          <multi-bar-chart theme="theme-1.css" {% if lastQuestion %}legend="true"{% endif %} filterableBy="{% for filterTerm in response.filterableOn %}{{filterTerm}}{% if not loop.last %},{% endif %}{% endfor %}">
            
            {{response.countryName}}

            {% for choice in response.values %}
              <multi-bar-item value="{{choice.value}}">
                <span slot="item-text">{{choice.text}}</span>
                <span slot="item-value">{{choice.value}}%</span>
              </multi-bar-item>
            {% endfor %}
          </multi-bar-chart>
          {# End Multi bar graph #}
        {% endfor %}

    </dd>
  
  {% endfor %}
</dl>

<script src="/components/charts/multi-bar-graph/multi-bar-graph.js" type="module"></script>
<script src="/components/charts/cor-filter/cor-filter.js" type="module"></script>
