<cor-banner
  type="card"
  image="{{ image }}" 
  title="{{ title }}" 
  description="{{ description }}"
  link="{{ link }}">
</cor-banner>

<script type="module" src='../banner/cor-banner.js'></script>
