<div role="group" aria-label="slider" tabindex="0">
  <ul>
    <img src="gallery1.svg" alt="A tessellation of diagonal lines, forming interlocked patterns. Some lines are missing, giving the appearance of an eroded structure like the aerial view of an excavated city.">
  </ul>
</div>