.mainContent ol[class].cor-list > li,
.mainContent ul[class].cor-list > li {
  padding: var(--space-3xs);
}

.mainContent ol[class].cor-list--documents {
  list-style-image: var(--icon-document);
}


.mainContent .cor-list--documents a {
  font-weight: bold;
  text-decoration: none;
}

.mainContent .cor-list--documents a:hover {
  text-decoration: underline;
}

.mainContent .cor-list--documents > li {
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
}

.mainContent .cor-list--documents > li * {
  grid-column: 2 / 3;
}

.mainContent .cor-list--documents > li:before {
  align-self: top;
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: var(--icon-document);
  background-repeat: no-repeat;
  background-size: 24px;
  background-size: contain;
  grid-column: 1 / 2;
  margin-right: var(--space-3xs);
  margin-top: 4px;
  width: 24px;
  height: 24px;
}

.cor-list--documents a[href$=".pdf"]:after {
  content: none;
}

.cor-list--documents__info {
  grid-column: 2 / 3;
}

.cor-list--withdividers > li + li {
  border-top: solid 1px var(--oc-gray-5);
}

.cor-list--thumbnail-list li {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
}
