:root {
  --chart-theme-3-color-1: hsla(21, 80%, 76%, 1);
  --chart-theme-3-color-2: hsla(26, 77%, 85%, 1);
  --chart-theme-3-color-3: hsla(53, 94%, 93%, 1);
  --chart-theme-3-color-4: hsla(55, 100%, 50%, 1);
  --chart-theme-3-color-5: hsla(99, 37%, 28%, 1);
}
