:root {
  --chart-theme-1-color-1: hsla(191, 64%, 40%, 1);
  --chart-theme-1-color-2: hsla(170, 31%, 48%, 1);
  --chart-theme-1-color-3: hsla(91, 16%, 63%, 1);
  --chart-theme-1-color-4: hsla(0, 46%, 79%, 1);
  --chart-theme-1-color-5: hsla(271, 100%, 88%, 1);
}